<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
						http://www.springframework.org/schema/tx
    					http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
						http://www.springframework.org/schema/aop
	       				http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
	       				http://www.springframework.org/schema/context
           				http://www.springframework.org/schema/context/spring-context-4.2.xsd
	       				http://www.springframework.org/schema/mvc
           				http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
           				http://code.alibabatech.com/schema/dubbo
           				http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:application name="titanjr_service_consumer" />
	<!--  group="production" -->

	<dubbo:registry protocol="zookeeper" address="${zookeeper.address}" timeout="10000" />
	<dubbo:monitor protocol="registry" /> 

	<dubbo:reference id="titanFinancialOrganService" interface="com.fangcang.titanjr.service.TitanFinancialOrganService" retries="0" timeout="800000"/><!-- retries:重试次数 -->
	<dubbo:reference id="titanFinancialUserService" interface="com.fangcang.titanjr.service.TitanFinancialUserService" retries="0" timeout="10000"/><!-- retries:重试次数 -->
    <dubbo:reference id="titanFinancialTradeService" interface="com.fangcang.titanjr.service.TitanFinancialTradeService" retries="0" timeout="800000"/>
    <dubbo:reference id="titanFinancialBaseInfoService" interface="com.fangcang.titanjr.service.TitanFinancialBaseInfoService" retries="0" timeout="800000"/>
    <dubbo:reference id="titanFinancialSendSMSService" interface="com.fangcang.titanjr.service.TitanFinancialSendSMSService" retries="0" timeout="40000"/>
    <dubbo:reference id="titanFinancialAccountService" interface="com.fangcang.titanjr.service.TitanFinancialAccountService" retries="0" timeout="40000"/>
	<dubbo:reference id="titanCashierDeskService" interface="com.fangcang.titanjr.service.TitanCashierDeskService" retries="0" timeout="40000"/>
    <dubbo:reference id="titanOrderService" interface="com.fangcang.titanjr.service.TitanOrderService" retries="0" timeout="40000"/>
    <dubbo:reference id="titanFinancialBankCardService" interface="com.fangcang.titanjr.service.TitanFinancialBankCardService" retries="0" timeout="40000"/>
    
     <dubbo:reference id="titanFinancialRateService" interface="com.fangcang.titanjr.service.TitanFinancialRateService" retries="0" timeout="40000"/>
    
    <dubbo:reference id="titanFinancialPermissionFacade" interface="com.fangcang.titanjr.facade.TitanFinancialPermissionFacade" retries="0" timeout="40000"/>
    <dubbo:reference id="titanFinanceTradeFacade" interface="com.fangcang.titanjr.facade.TitanFinancialTradeFacade" retries="0" timeout="40000"/>
</beans>
