<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xmlns:jee="http://www.springframework.org/schema/jee"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
						http://www.springframework.org/schema/tx
    					http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
						http://www.springframework.org/schema/aop
	       				http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
	       				http://www.springframework.org/schema/context
           				http://www.springframework.org/schema/context/spring-context-4.2.xsd
	       				http://www.springframework.org/schema/mvc
           				http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
           				http://code.alibabatech.com/schema/dubbo
           				http://code.alibabatech.com/schema/dubbo/dubbo.xsd
           				http://www.springframework.org/schema/jee
						http://www.springframework.org/schema/jee/spring-jee-2.5.xsd">


	<!-- 事务管理器-->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- mybatis配置 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis/SqlMapConfig.xml"></property>
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="baseSqlMapClient" class="com.fangcang.corenut.dao.impl.GenericDAOMyBatisImpl">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>



	<bean id="configSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis/platform/SqlMapConfig.xml"></property>
		<property name="dataSource" ref="configDataSource" />
	</bean>

	<bean id="configSqlMapClient" class="com.fangcang.corenut.dao.impl.GenericDAOMyBatisImpl">
		<property name="sqlSessionFactory" ref="configSessionFactory"></property>
	</bean>
	
	<bean id="orderSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis/platform/SqlMapConfig.xml"></property>
		<property name="dataSource" ref="orderDataSource" />
	</bean>

	<bean id="orderSqlMapClient" class="com.fangcang.corenut.dao.impl.GenericDAOMyBatisImpl">
		<property name="sqlSessionFactory" ref="orderSessionFactory"></property>
	</bean>
	

	<!-- dao 定义列表 -->
	<bean id="domainConfigDao" class="com.fangcang.titanjr.dao.impl.DomainConfigDaoImpl" parent="configSqlMapClient"></bean>
	<bean id="platformOrderOprDao" class="com.fangcang.titanjr.dao.impl.PlatformOrderOprDaoImpl" parent="orderSqlMapClient"></bean>

	<bean id="titanOrgCheckDao" class="com.fangcang.titanjr.dao.impl.TitanOrgCheckDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanAccountDao" class="com.fangcang.titanjr.dao.impl.TitanAccountDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanAccountHistoryDao" class="com.fangcang.titanjr.dao.impl.TitanAccountHistoryDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanAccountItemDao" class="com.fangcang.titanjr.dao.impl.TitanAccountItemDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanAccountOperLogDao" class="com.fangcang.titanjr.dao.impl.TitanAccountOperLogDaoImpl" parent="baseSqlMapClient"></bean>
	
	<bean id="titanBankcardDao" class="com.fangcang.titanjr.dao.impl.TitanBankcardDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanBankinfoDao" class="com.fangcang.titanjr.dao.impl.TitanBankinfoDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanCashierDeskDao" class="com.fangcang.titanjr.dao.impl.TitanCashierDeskDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanCashierDeskItemDao" class="com.fangcang.titanjr.dao.impl.TitanCashierDeskItemDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanCashierItemBankDao" class="com.fangcang.titanjr.dao.impl.TitanCashierItemBankDaoImpl" parent="baseSqlMapClient"></bean>
	
	<bean id="titanCityInfoDao" class="com.fangcang.titanjr.dao.impl.TitanCityInfoDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanCommonPayMethodDao" class="com.fangcang.titanjr.dao.impl.TitanCommonPayMethodDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanFundFreezereqDao" class="com.fangcang.titanjr.dao.impl.TitanFundFreezereqDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanOrderPayreqDao" class="com.fangcang.titanjr.dao.impl.TitanOrderPayreqDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanOrgBindinfoDao" class="com.fangcang.titanjr.dao.impl.TitanOrgBindinfoDaoImpl" parent="baseSqlMapClient"></bean>
	
	<bean id="titanOrgDao" class="com.fangcang.titanjr.dao.impl.TitanOrgDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanOrgImageDao" class="com.fangcang.titanjr.dao.impl.TitanOrgImageDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanRateChangeLogDao" class="com.fangcang.titanjr.dao.impl.TitanRateChangeLogDaoImpl" parent="baseSqlMapClient"></bean>
	
	<bean id="titanRateConfigDao" class="com.fangcang.titanjr.dao.impl.TitanRateConfigDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanRoleDao" class="com.fangcang.titanjr.dao.impl.TitanRoleDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanTradeReqFlowDao" class="com.fangcang.titanjr.dao.impl.TitanTradeReqFlowDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanTransferReqDao" class="com.fangcang.titanjr.dao.impl.TitanTransferReqDaoImpl" parent="baseSqlMapClient"></bean>
	
	<bean id="titanTransOrderDao" class="com.fangcang.titanjr.dao.impl.TitanTransOrderDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanUserBindInfoDao" class="com.fangcang.titanjr.dao.impl.TitanUserBindInfoDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanUserDao" class="com.fangcang.titanjr.dao.impl.TitanUserDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanUserRoleDao" class="com.fangcang.titanjr.dao.impl.TitanUserRoleDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanWithDrawReqDao" class="com.fangcang.titanjr.dao.impl.TitanWithDrawReqDaoImpl" parent="baseSqlMapClient"></bean>
	
	<bean id="titanOrgidDao" class="com.fangcang.titanjr.dao.impl.TitanOrgidDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanCodeDao" class="com.fangcang.titanjr.dao.impl.TitanCodeDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanOrgCheckLogDao" class="com.fangcang.titanjr.dao.impl.TitanOrgCheckLogDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanAccountCodeDao" class="com.fangcang.titanjr.dao.impl.TitanAccountCodeDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanFundUnFreezereqDao" class="com.fangcang.titanjr.dao.impl.TitanFundUnFreezereqDaoImpl" parent="baseSqlMapClient"></bean>
	
	<bean id="titanDynamicKeyDao" class="com.fangcang.titanjr.dao.impl.TitanDynamicKeyDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanOrderExceptionDao" class="com.fangcang.titanjr.dao.impl.TitanOrderExceptionDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanCheckCodeDao" class="com.fangcang.titanjr.dao.impl.TitanCheckCodeDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanHelpDao" class="com.fangcang.titanjr.dao.impl.TitanHelpDaoImpl" parent="baseSqlMapClient"></bean>
	
	<bean id="titanHelpTypeDao" class="com.fangcang.titanjr.dao.impl.TitanHelpTypeDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanSysconfigDao" class="com.fangcang.titanjr.dao.impl.TitanSysconfigDaoImpl" parent="baseSqlMapClient"></bean>
	<!--信贷产品-->
	<bean id="loanCompanyEnsureDao" class="com.fangcang.titanjr.dao.impl.LoanCompanyEnsureDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="loanCreditCompanyDao" class="com.fangcang.titanjr.dao.impl.LoanCreditCompanyDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="loanCreditOrderDao" class="com.fangcang.titanjr.dao.impl.LoanCreditOrderDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="loanCreditOpinionDao" class="com.fangcang.titanjr.dao.impl.LoanCreditOpinionDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="loanOrderDao" class="com.fangcang.titanjr.dao.impl.LoanOrderDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="loanPersonEnsureDao" class="com.fangcang.titanjr.dao.impl.LoanPersonEnsureDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="loanSpecificationDao" class="com.fangcang.titanjr.dao.impl.LoanSpecificationDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanOpenOrgDao" class="com.fangcang.titanjr.dao.impl.TitanOpenOrgDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="loanCreditOrderDiscardDao" class="com.fangcang.titanjr.dao.impl.LoanCreditOrderDiscardDaoImpl" parent="baseSqlMapClient"></bean>	
</beans>

