﻿<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xmlns:jee="http://www.springframework.org/schema/jee"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
						http://www.springframework.org/schema/tx
    					http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
						http://www.springframework.org/schema/aop
	       				http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
	       				http://www.springframework.org/schema/context
           				http://www.springframework.org/schema/context/spring-context-4.2.xsd
	       				http://www.springframework.org/schema/mvc
           				http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
           				http://code.alibabatech.com/schema/dubbo
           				http://code.alibabatech.com/schema/dubbo/dubbo.xsd
           				http://www.springframework.org/schema/jee
						http://www.springframework.org/schema/jee/spring-jee-2.5.xsd">


	<!-- LOB大数据列支持 -->
	
	<!-- <bean id="lobHandler" lazy-init="true" class="org.springframework.jdbc.support.lob.DefaultLobHandler" /> -->
	<jee:jndi-lookup id="dataSource" jndi-name="jdbc/titanjr" />
	<!-- dataSource 定义 -->
	<!--<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
		<property name="driverClassName" value="${driverClassName}" />
		<property name="url" value="${url}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />
		&lt;!&ndash; <property name="filters" value="${filters}" /> &ndash;&gt;
		<property name="maxActive" value="${maxActive}" />
		<property name="initialSize" value="${initialSize}" />
		<property name="maxWait" value="${maxWait}" />
		<property name="minIdle" value="${minIdle}" />
		<property name="timeBetweenEvictionRunsMillis" value="${timeBetweenEvictionRunsMillis}" />
		<property name="minEvictableIdleTimeMillis" value="${minEvictableIdleTimeMillis}" />
		&lt;!&ndash; <property name="validationQuery" value="${validationQuery}" />
        <property name="testWhileIdle" value="${testWhileIdle}" />
        <property name="testOnBorrow" value="${testOnBorrow}" />
        <property name="testOnReturn" value="${testOnReturn}" /> &ndash;&gt;
		<property name="maxOpenPreparedStatements" value="${maxOpenPreparedStatements}" />
		<property name="removeAbandoned" value="${removeAbandoned}" /> &lt;!&ndash; 打开removeAbandoned功能 &ndash;&gt;
		<property name="removeAbandonedTimeout" value="${removeAbandonedTimeout}" /> &lt;!&ndash; 1800秒，也就是30分钟 &ndash;&gt;
		<property name="logAbandoned" value="${logAbandoned}" /> &lt;!&ndash; 关闭abanded连接时输出错误日志 &ndash;&gt;
	</bean>-->

	<!-- 事务管理器-->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- mybatis配置 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis/SqlMapConfig.xml"></property>
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="baseSqlMapClient" class="com.fangcang.corenut.dao.impl.GenericDAOMyBatisImpl">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>

	<!-- dao 定义列表 -->
	<bean id="titanOrgCheckDao" class="com.fangcang.titanjr.dao.impl.TitanOrgCheckDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanAccountDao" class="com.fangcang.titanjr.dao.impl.TitanAccountDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanAccountHistoryDao" class="com.fangcang.titanjr.dao.impl.TitanAccountHistoryDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanAccountItemDao" class="com.fangcang.titanjr.dao.impl.TitanAccountItemDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanAccountOperLogDao" class="com.fangcang.titanjr.dao.impl.TitanAccountOperLogDaoImpl" parent="baseSqlMapClient"></bean>
	
	<bean id="titanBankcardDao" class="com.fangcang.titanjr.dao.impl.TitanBankcardDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanBankinfoDao" class="com.fangcang.titanjr.dao.impl.TitanBankinfoDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanCashierDeskDao" class="com.fangcang.titanjr.dao.impl.TitanCashierDeskDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanCashierDeskItemDao" class="com.fangcang.titanjr.dao.impl.TitanCashierDeskItemDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanCashierItemBankDao" class="com.fangcang.titanjr.dao.impl.TitanCashierItemBankDaoImpl" parent="baseSqlMapClient"></bean>
	
	<bean id="titanCityInfoDao" class="com.fangcang.titanjr.dao.impl.TitanCityInfoDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanCommonPayMethodDao" class="com.fangcang.titanjr.dao.impl.TitanCommonPayMethodDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanFundFreezereqDao" class="com.fangcang.titanjr.dao.impl.TitanFundFreezereqDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanOrderPayreqDao" class="com.fangcang.titanjr.dao.impl.TitanOrderPayreqDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanOrgBindinfoDao" class="com.fangcang.titanjr.dao.impl.TitanOrgBindinfoDaoImpl" parent="baseSqlMapClient"></bean>
	
	<bean id="titanOrgDao" class="com.fangcang.titanjr.dao.impl.TitanOrgDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanOrgImageDao" class="com.fangcang.titanjr.dao.impl.TitanOrgImageDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanRateChangeLogDao" class="com.fangcang.titanjr.dao.impl.TitanRateChangeLogDaoImpl" parent="baseSqlMapClient"></bean>
	
	<bean id="titanRateConfigDao" class="com.fangcang.titanjr.dao.impl.TitanRateConfigDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanRoleDao" class="com.fangcang.titanjr.dao.impl.TitanRoleDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanTradeReqFlowDao" class="com.fangcang.titanjr.dao.impl.TitanTradeReqFlowDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanTransferReqDao" class="com.fangcang.titanjr.dao.impl.TitanTransferReqDaoImpl" parent="baseSqlMapClient"></bean>
	
	<bean id="titanTransOrderDao" class="com.fangcang.titanjr.dao.impl.TitanTransOrderDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanUserBindInfoDao" class="com.fangcang.titanjr.dao.impl.TitanUserBindInfoDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanUserDao" class="com.fangcang.titanjr.dao.impl.TitanUserDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanUserRoleDao" class="com.fangcang.titanjr.dao.impl.TitanUserRoleDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanWithDrawReqDao" class="com.fangcang.titanjr.dao.impl.TitanWithDrawReqDaoImpl" parent="baseSqlMapClient"></bean>
	
	<bean id="titanOrgidDao" class="com.fangcang.titanjr.dao.impl.TitanOrgidDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanCodeDao" class="com.fangcang.titanjr.dao.impl.TitanCodeDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanOrgCheckLogDao" class="com.fangcang.titanjr.dao.impl.TitanOrgCheckLogDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanAccountCodeDao" class="com.fangcang.titanjr.dao.impl.TitanAccountCodeDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanFundUnFreezereqDao" class="com.fangcang.titanjr.dao.impl.TitanFundUnFreezereqDaoImpl" parent="baseSqlMapClient"></bean>
	
	<bean id="titanDynamicKeyDao" class="com.fangcang.titanjr.dao.impl.TitanDynamicKeyDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanPayMethodConfigDao" class="com.fangcang.titanjr.dao.impl.TitanPayMethodConfigDaoImpl" parent="baseSqlMapClient"></bean>
	<bean id="titanOrderExceptionDao" class="com.fangcang.titanjr.dao.impl.TitanOrderExceptionDaoImpl" parent="baseSqlMapClient"></bean>
</beans>
