<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
						http://www.springframework.org/schema/tx
    					http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
						http://www.springframework.org/schema/aop
	       				http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
	       				http://www.springframework.org/schema/context
           				http://www.springframework.org/schema/context/spring-context-4.2.xsd
	       				http://www.springframework.org/schema/mvc
           				http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
           				http://code.alibabatech.com/schema/dubbo
           				http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
		default-autowire="byName">
	
	<bean id="initService1" class="com.titanjr.checkstand.service.impl.InitServiceImpl" init-method="init" />  
	<bean id="initService2" class="com.titanjr.checkstand.service.impl.TLAgentTradeServiceImpl" init-method="init" />  
	<bean id="initService3" class="com.titanjr.checkstand.service.impl.AccountDownloadServiceImpl" init-method="init" />  
	
	<dubbo:application name="checkstand_consumer" />
	<dubbo:consumer check="false"/>
	<dubbo:registry protocol="zookeeper" address="${zookeeper.address}" timeout="10000" />
	
	<!-- <dubbo:service interface="com.titanjr.checkstand.service.TitanFinancialCallbackService" ref="titanFinancialCallbackService" timeout="40000" /> -->
	
	<dubbo:reference id="titanOrderService" interface="com.fangcang.titanjr.service.TitanOrderService" retries="0" timeout="800000"/>
	<dubbo:reference id="titanFinancialUtilService" interface="com.fangcang.titanjr.service.TitanFinancialUtilService" retries="0" timeout="800000"/>
	<dubbo:reference id="titanSysconfigService" interface="com.fangcang.titanjr.service.TitanSysconfigService" retries="0" timeout="40000"/>

</beans>

