<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.titanjr.fop.dao.TitanOrderDao">

    <resultMap id="refundDTOMapper" type="com.fangcang.titanjr.dto.bean.RefundDTO" >
        <result property="refundId" column="refundid"/>
        <result property="orderNo" column="orderid"/>
        <result property="refundAmount" column="refundAmount"/>
        <result property="refundOrderno" column="refundOrderno"/>
        <result property="orderTime" column="orderTime"/>
        <result property="creator" column="creator"/>
        <result property="transferAmount" column="transferAmount"/>
        <result property="fee" column="fee"/>
        <result property="userOrderId" column="userOrderId"/>
        <result property="payOrderNo" column="payOrderNo"/>
        <result property="notifyUrl" column="notifyUrl"/>
        <result property="businessInfo" column="businessInfo"/>
        <result property="createtime" column="createtime"/>
    </resultMap>

    <select id="queryRefundDTOList" parameterType="com.fangcang.titanjr.dto.bean.RefundDTO"
            resultMap="refundDTOMapper">
        select
          refundid,
          orderid,
          refundAmount,
          refundOrderno,
          orderTime,
          creator,
          status,
          transferAmount,
          fee,
          userOrderId,
          payOrderNo,
          notifyUrl,
          businessInfo,
          createtime
        from
          t_tfs_refund
        <where>
            <if test="refundId !=null">
                refundid = #{refundId}
            </if>
            <if test="orderNo !=null">
                orderid =#{orderNo}
            </if>
            <if test="refundOrderno !=null">
                refundOrderno =#{refundOrderno}
            </if>
            <if test="status !=null">
                status =#{status}
            </if>
            <if test="userOrderId !=null">
                userOrderId=#{userOrderId}
            </if>
        </where>
        order by createtime desc
    </select>

    <select id="selectAccountDetail" resultType="com.titanjr.fop.dto.TitanAccountDetailDTO"
            parameterType="com.fangcang.titanjr.entity.parameter.TitanAccountDetailParam">
        select * from t_tfs_accountdetail
        <where>
            <if test="accountCode != null">accountcode = #{accountCode}</if>
            <if test="transOrderId != null"> and transorderid =#{transOrderId}</if>
            <if test="tradeType != null"> and tradetype =#{tradeType}</if>
            <if test="orgCode != null"> and orgcode =#{orgCode}</if>
            <if test="productId != null"> and productid =#{productId}</if>
            <if test="status != null"> and status =#{status}</if>
        </where>
    </select>

</mapper>