<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.titanjr.fop.dao.TitanAccountDao">


    <select id="queryAccountBalanceList" parameterType="com.fangcang.titanjr.dto.request.AccountBalanceRequest"
            resultType="com.fangcang.titanjr.dto.bean.AccountBalance">

        SELECT
          userid,
          productid,
          usablelimit as balanceusable,
          frozonamount as balancefrozon,
          settleamount as balancesettle,
          creditamount as balancecredit,
          overlimit as balanceoverlimit,
          totalamount as amount
        FROM
          t_tfs_balanceinfo
        <where>
            <if test="userId!=null">and userid = #{userId}</if>
            <if test="productId!=null">and productid = #{productId}</if>
        </where>
    </select>


    <update id="updateAccountBalance" parameterType="com.fangcang.titanjr.dto.bean.AccountBalance" >
        update t_tfs_balanceinfo
        <set >
            <if test="balanceusable != null" >usablelimit = #{balanceusable},</if>
            <if test="balancefrozon != null" >frozonamount = #{balancefrozon},</if>
            <if test="balancesettle != null" >settleamount = #{balancesettle},</if>
            <if test="balancecredit != null" >creditamount = #{balancecredit},</if>
        </set>
        where
          userid = #{userid}
          and productid = #{productid}

    </update>

    <select id="queryUnFreezeRequest" parameterType="com.fangcang.titanjr.entity.parameter.TitanUnFundFreezereqParam"
            resultType="com.fangcang.titanjr.entity.TitanFundUnFreezereq">
      SELECT
        fundFreezereqid,
        requesttime,
        requestno,
        conditioncode
      FROM
        t_tfs_fundunfreezereq q
      <where>
        <if test="requestno != null"> and  requestno = #{requestno} </if>
      </where>
    </select>

</mapper>