<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.titanjr.fop.dao.TitanAccountDao">


    <select id="queryAccountBalanceList" parameterType="com.fangcang.titanjr.dto.request.AccountBalanceRequest"
            resultType="com.titanjr.fop.dto.BalanceQueryDTO">

        SELECT
          userid,
          productid,
          usablelimit as balanceusable,
          frozonamount as balancefrozon,
          settleamount as balancesettle,
          creditamount as balancecredit,
          overlimit as balanceoverlimit,
          totalamount as amount
        FROM
          t_tfs_balanceinfo
        <where>
            <if test="userId!=null">and userid = #{userId}</if>
            <if test="productId!=null">and productid = #{productId}</if>
        </where>
    </select>

</mapper>