<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.titanjr.fop.dao.RequestSessionDao">


    <select id="queryReqSession" resultType="com.titanjr.fop.entity.RequestSession"
            parameterType="com.titanjr.fop.entity.RequestSession">
        select
          appkey as appKey,
          appsecret as appSecret,
          `reqsession` as reqSession,
          createtime as createTime
        from
          t_tfs_reqsession
        <where>
            <if test="appKey!=null">and appkey = #{appKey}</if>
            <if test="appSecret!=null">and appsecret = #{appSecret}</if>
            <if test="reqSession!=null">and `reqsession` = #{reqSession}</if>
        </where>
    </select>


    <insert id="saveRequestSession" parameterType="com.titanjr.fop.entity.RequestSession">
	   INSERT INTO `t_tfs_reqsession` (
	      `appkey`,
	      `appsecret`,
	      `reqsession`,
	      `createtime`,
	      `isactive`
        )
      VALUES
	    (
		  #{appKey},#{appSecret},#{reqSession},#{createTime},1
	    )
    </insert>

</mapper>