<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.titanjr.checkstand.dao.GateWayPayDao">

    <insert id="batchSaveGateWayPayDTO" parameterType="java.util.List">
        INSERT INTO `t_order_pay_request` (
	      `userOrderNo`,
	      `merchantNo`,
		  `orderNo`,
		  `productNo`,
		  `productName`,
		  `productDesc`,
		  `productNum`,
		  `orderAmount`,
		  `payType`,
		  `amtType`,
		  `bankInfo`,
		  `payerAccount`,
		  `payerName`,
		  `payerPhone`,
		  `payerMail`,
		  `pageUrl`,
		  `notifyUrl`,
		  `orderTime`,
		  `orderExpireTime`,
		  `orderMark`,
		  `expand`,
		  `expand2`,
		  `signType`,
		  `busiCode`,
		  `version`,
		  `charset`,
		  `signMsg`,
		  `openId`,
		  `idCode`,
		  `payerAccountType`,
		  `safetyCode`,
		  `validthru`,
		  `terminalIp`,
		  `terminalType`,
		  `terminalInfo`,
		  `reqStatus`,
		  `language`,
		  `pid`,
		  `productPrice`,
		  `extTL`,
		  `tradeNature`,
		  `customsExt`,
		  `appId`,
		  `randomStr`,
	      `limitPay`
        )
      VALUES
		<foreach collection="list" item="item" index="index" separator=",">
		(
		  #{item.userOrderNo},
	      #{item.merchantNo},
		  #{item.orderNo},
		  #{item.productNo},
		  #{item.productName},
		  #{item.productDesc},
		  #{item.productNum},
		  #{item.orderAmount},
		  #{item.payType},
		  #{item.amtType},
		  #{item.bankInfo},
		  #{item.payerAccount},
		  #{item.payerName},
	  	  #{item.payerPhone},
		  #{item.payerMail},
		  #{item.pageUrl},
		  #{item.notifyUrl},
		  #{item.orderTime},
	      #{item.orderExpireTime},
		  #{item.orderMark},
		  #{item.expand},
		  #{item.expand2},
	  	  #{item.signType},
		  #{item.busiCode},
		  #{item.version},
		  #{item.charset},
		  #{item.signMsg},
		  #{item.openId},
		  #{item.idCode},
		  #{item.payerAccountType},
		  #{item.safetyCode},
		  #{item.validthru},
		  #{item.terminalIp},
		  #{item.terminalType},
		  #{item.terminalInfo},
		  #{item.reqStatus},
		  #{item.language},
		  #{item.pid},
		  #{item.productPrice},
		  #{item.extTL},
		  #{item.tradeNature},
		  #{item.customsExt},
		  #{item.appId},
		  #{item.randomStr},
	      #{item.limitPay}
		)
	  </foreach>
    </insert>

</mapper>