<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.titanjr.checkstand.dao.GateWayPayDao">

    <insert id="batchSaveGateWayPayDTO" parameterType="java.util.List">
        INSERT INTO `t_order_pay_request` (
	      `userOrderNo`,
	      `merchantNo`,
	      `orderNo`,
	      `productNo`,
	      `productName`,
	      `productDesc`,
	      `productNum`,
	      `orderAmount`,
	      `payType`,
	      `amtType`,
	      `bankInfo`,
	      `payerAccount`,
	      `payerName`,
	      `payerPhone`,
	      `payerMail`,
	      `pageUrl`,
	      `notifyUrl`,
	      `orderTime`,
	      `orderExpireTime`,
	      `orderMark`,
	      `expand`,
	      `expand2`,
	      `signType`,
	      `busiCode`,
	      `version`,
	      `charset`,
	      `signMsg`,
	      `openId`,
	      `idCode`,
	      `payerAccountType`,
	      `safetyCode`,
	      `validthru`,
	      `terminalIp`,
	      `terminalType`,
	      `terminalInfo`,
	      `reqStatus`,
	      `language`,
	      `pid`,
	      `productPrice`,
	      `extTL`,
	      `tradeNature`,
	      `customsExt`,
	      `appId`,
	      `randomStr`,
	      `limitPay`
        )
      VALUES
	  (
		  #{userOrderNo},
	      #{merchantNo},
	      #{orderNo},
	      #{productNo},
	      #{productName},
	      #{productDesc},
	      #{productNum},
	      #{orderAmount},
	      #{payType},
	      #{amtType},
	      #{bankInfo},
	      #{payerAccount},
	      #{payerName},
	      #{payerPhone},
	      #{payerMail},
	      #{pageUrl},
	      #{notifyUrl},
	      #{orderTime},
	      #{orderExpireTime},
	      #{orderMark},
	      #{expand},
	      #{expand2},
	      #{signType},
	      #{busiCode},
	      #{version},
	      #{charset},
	      #{signMsg},
	      #{openId},
	      #{idCode},
	      #{payerAccountType},
	      #{safetyCode},
	      #{validthru},
	      #{terminalIp},
	      #{terminalType},
	      #{terminalInfo},
	      #{reqStatus},
	      #{language},
	      #{pid},
	      #{productPrice},
	      #{extTL},
	      #{tradeNature},
	      #{customsExt},
	      #{appId},
	      #{randomStr},
	      #{limitPay}
	  )
    </insert>

</mapper>