<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangcang.titanjr.dao.QuickCardHistoryDao" >
   
   <select id="selectForPage" resultType="com.fangcang.titanjr.dto.bean.gateway.QuickCardHistoryDTO" parameterType="map">
	    select * from t_tfs_quickcardhistory
	    <where>
		      <if test="fcuserid !=null">
		        and fcuserid =#{fcuserid}
		      </if>
		      <if test="orgcode !=null">
		        and orgcode =#{orgcode}
		      </if>
		      <if test="payeracount !=null">
		        and payeracount=#{payeracount}
		      </if>
	    </where>
  </select>
  
  <insert id="insertEntity" parameterType="com.fangcang.titanjr.dto.bean.gateway.QuickCardHistoryDTO" >
    insert into t_tfs_quickcardhistory (quickcardid, orgcode, fcuserid, payername, payeracount,
      	bankname, bankinfo, payeraccounttype, payerphone, idtype, idcode, safetycode, validthru, 
      	creator, createtime, count, lasttime
      )
    	values (NULL, #{orgcode}, #{fcuserid},#{payername},#{payeracount},  
      	#{bankname}, #{bankinfo},#{payeraccounttype},#{payerphone},#{idtype},#{idcode},#{safetycode},#{validthru},
      	#{creator},SYSDATE(),#{count},SYSDATE()
      )
  </insert>
  
  <update id="updateEntity" parameterType="com.fangcang.titanjr.dto.bean.gateway.QuickCardHistoryDTO" >
    update t_tfs_quickcardhistory
    <set >
      <if test="payerphone != null" >
        payerphone = #{payerphone},
      </if>
      <if test="idtype != null" >
        idtype = #{idtype},
      </if>
      <if test="idcode != null">
        idcode =#{idcode},
      </if>
      <if test="count != null" >
        count = #{count},
      </if>
      <if test="lasttime != null" >
        lasttime = SYSDATE(),
      </if>
    </set>
    where quickcardid = #{quickcardid}
  </update>
  
  
  <select id="selectQuickCardHistory" parameterType="com.fangcang.titanjr.dto.bean.gateway.QuickCardHistoryDTO" 
      resultType="com.fangcang.titanjr.dto.bean.gateway.QuickCardHistoryDTO" >
      select * from t_tfs_quickcardhistory
      where orgcode=#{orgcode} and fcuserid=#{fcuserid}
  </select>
  
</mapper>