<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangcang.titanjr.dao.TitanBalanceInfoDao">
    <select id="queryList" resultType="com.fangcang.titanjr.entity.TitanBalanceInfo"
            parameterType="com.fangcang.titanjr.entity.parameter.TitanBalanceInfoParam">
        select
        *
        from t_tfs_balanceinfo
        <where>
            <if test="accountid != null">accountid = #{accountid}</if>
            <if test="userid != null"> and userid =#{userid}</if>
            <if test="productid != null"> and productid =#{productid}</if>
          </where>
    </select>

    
    <insert id="insertEntity" parameterType="com.fangcang.titanjr.entity.TitanBalanceInfo" useGeneratedKeys="true" keyProperty="accountid">
    insert into t_tfs_balanceinfo ( userid, 
      productid, accountcode, accountname, 
      currency, initcreditamount,initsettleamount,initfrozonamount,
      initoverlimit,initusablelimit,inittotalamount,status,creator,createtime)
    values ( #{userid}, #{productid}, #{accountcode}, #{accountname}, #{currency},
    #{initcreditamount},#{initsettleamount},#{initfrozonamount},#{initoverlimit},#{initusablelimit},
    #{inittotalamount},#{status},#{creator},#{createtime})
  </insert>
    <update id="updateEntity" parameterType="com.fangcang.titanjr.entity.TitanBalanceInfo">
        update t_tfs_balanceinfo
        <set>
            <if test="initcreditamount != null">
                initcreditamount = #{initcreditamount},
            </if>
            <if test="initsettleamount != null">
                initsettleamount = #{initsettleamount},
            </if>
            <if test="initfrozonamount != null">
                initfrozonamount = #{initfrozonamount},
            </if>
            <if test="initoverlimit != null">
                initoverlimit = #{initoverlimit},
            </if>
            
            <if test="initusablelimit != null">
                initusablelimit = #{initusablelimit},
            </if>
            <if test="inittotalamount != null">
                inittotalamount = #{inittotalamount},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where accountcode = #{accountcode}
    </update>

</mapper>
