<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangcang.titanjr.dao.TitanFundFreezereqDao" >

   <resultMap type="com.fangcang.titanjr.dto.bean.FundFreezeDTO" id="FundFreezeDTOMap">
      <result property="merchantCode" column="merchantcode"/>
      <result property="authCode" column="authcode"/>
      <result property="requestNo" column="requestno"/>
      <result property="amount" column="amount"/>
      <result property="status" column="status"/>
      <result property="orderNo" column="orderno"/>
      <result property="freezereqId" column="freezereqid"/>
      <result property="userId" column="userid"/>
   </resultMap>

   <select id="queryList" resultType="com.fangcang.titanjr.entity.TitanFundFreezereq" parameterType="com.fangcang.titanjr.entity.parameter.TitanFundFreezereqParam" >
    select 
    *
    from t_tfs_fundfreezereq 
    <where>
      <if test="orderno !=null">
        and orderno =#{orderno}
      </if>
    </where>
    
  </select>
  
  <select id="queryFreezeOrder"  resultMap="FundFreezeDTOMap" parameterType="java.lang.String" >
    select * from t_tfs_fundfreezereq freeze inner join t_tfs_fundunfreezereq unfreeze on freeze.freezereqid= unfreeze.fundFreezereqid  where orderno =#{orderno} order by unfreeze.requesttime 
  </select>
  
  <insert id="insertEntity" parameterType="com.fangcang.titanjr.entity.TitanFundFreezereq" >
    insert into t_tfs_fundfreezereq (freezereqid, userid, amount, 
      feeamount, funccode, intermerchantcode, 
      merchantcode, orderamount, ordercount, 
      orderdate, orderno, orderpackageno, 
      paychannelid, remark, requestno, 
      requesttime, status, tradeflowno, 
      userfee, profit, busitypeid, 
      bankcode, errorcode, errormsg, 
      productid, useripaddress, referuserid, 
      conditioncode, authcode)
    values (#{freezereqid,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{amount}, 
      #{feeamount,jdbcType=DOUBLE}, #{funccode,jdbcType=VARCHAR}, #{intermerchantcode,jdbcType=VARCHAR}, 
      #{merchantcode,jdbcType=VARCHAR}, #{orderamount}, #{ordercount,jdbcType=INTEGER}, 
      #{orderdate}, #{orderno,jdbcType=VARCHAR}, #{orderpackageno,jdbcType=VARCHAR}, 
      #{paychannelid,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{requestno,jdbcType=VARCHAR}, 
      #{requesttime}, #{status,jdbcType=INTEGER}, #{tradeflowno,jdbcType=VARCHAR}, 
      #{userfee}, #{profit,jdbcType=DOUBLE}, #{busitypeid,jdbcType=VARCHAR}, 
      #{bankcode,jdbcType=VARCHAR}, #{errorcode,jdbcType=VARCHAR}, #{errormsg,jdbcType=VARCHAR}, 
      #{productid,jdbcType=VARCHAR}, #{useripaddress,jdbcType=VARCHAR}, #{referuserid,jdbcType=VARCHAR}, 
      #{conditioncode,jdbcType=VARCHAR}, #{authcode,jdbcType=VARCHAR})
  </insert>
  <update id="updateEntity" parameterType="com.fangcang.titanjr.entity.TitanFundFreezereq" >
    update t_tfs_fundfreezereq
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="feeamount != null" >
        feeamount = #{feeamount,jdbcType=DOUBLE},
      </if>
      <if test="funccode != null" >
        funccode = #{funccode,jdbcType=VARCHAR},
      </if>
      <if test="intermerchantcode != null" >
        intermerchantcode = #{intermerchantcode,jdbcType=VARCHAR},
      </if>
      <if test="merchantcode != null" >
        merchantcode = #{merchantcode,jdbcType=VARCHAR},
      </if>
      <if test="orderamount != null" >
        orderamount = #{orderamount,jdbcType=DOUBLE},
      </if>
      <if test="ordercount != null" >
        ordercount = #{ordercount,jdbcType=INTEGER},
      </if>
      <if test="orderdate != null" >
        orderdate = #{orderdate},
      </if>
      <if test="orderno != null" >
        orderno = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="orderpackageno != null" >
        orderpackageno = #{orderpackageno,jdbcType=VARCHAR},
      </if>
      <if test="paychannelid != null" >
        paychannelid = #{paychannelid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="requestno != null" >
        requestno = #{requestno,jdbcType=VARCHAR},
      </if>
      <if test="requesttime != null" >
        requesttime = #{requesttime},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="tradeflowno != null" >
        tradeflowno = #{tradeflowno,jdbcType=VARCHAR},
      </if>
      <if test="userfee != null" >
        userfee = #{userfee,jdbcType=DOUBLE},
      </if>
      <if test="profit != null" >
        profit = #{profit,jdbcType=DOUBLE},
      </if>
      <if test="busitypeid != null" >
        busitypeid = #{busitypeid,jdbcType=VARCHAR},
      </if>
      <if test="bankcode != null" >
        bankcode = #{bankcode,jdbcType=VARCHAR},
      </if>
      <if test="errorcode != null" >
        errorcode = #{errorcode,jdbcType=VARCHAR},
      </if>
      <if test="errormsg != null" >
        errormsg = #{errormsg,jdbcType=VARCHAR},
      </if>
      <if test="productid != null" >
        productid = #{productid,jdbcType=VARCHAR},
      </if>
      <if test="useripaddress != null" >
        useripaddress = #{useripaddress,jdbcType=VARCHAR},
      </if>
      <if test="referuserid != null" >
        referuserid = #{referuserid,jdbcType=VARCHAR},
      </if>
      <if test="conditioncode != null" >
        conditioncode = #{conditioncode,jdbcType=VARCHAR},
      </if>
      <if test="authcode != null" >
        authcode = #{authcode,jdbcType=VARCHAR},
      </if>
    </set>
    where freezereqid = #{freezereqid,jdbcType=INTEGER}
  </update>
  
  <select id="selectUnFreezeOrders" parameterType="com.fangcang.titanjr.dto.request.UnFreezeRequest" resultMap="FundFreezeDTOMap">
   select freeze.userid,freeze.freezereqid,freeze.merchantcode,freeze.status,freeze.authcode,freeze.requestno,freeze.amount,freeze.orderno
    from t_tfs_fundfreezereq freeze inner join t_tfs_transorder orders on orders.orderid=freeze.orderno
    where orders.isEscrowedPayment=0 and orders.statusid ='6' and ((orders.freezeType ='2' OR orders.freezeType ='' OR orders.freezeType IS NULL) OR (orders.freezeType ='3' AND orders.freezeAt ='2'))
    <![CDATA[and orders.escrowedDate <=#{unFreezeDate} ]]> limit #{offset},#{rows} for update
  </select>
  
</mapper>