<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangcang.titanjr.dao.TitanUserRoleDao" >
  <select id="queryList" resultType="com.fangcang.titanjr.entity.TitanUserRole" parameterType="com.fangcang.titanjr.entity.parameter.TitanUserRoleParam" >
    select 
    	*
    from t_tfs_user_role
    <where>
    	<if test="tfsuserid != null">tfsuserid = #{tfsuserid}</if>
    	<if test="roleid != null"> and roleid = #{roleid}</if>
    	<if test="isactive != null"> and isactive = #{isactive}</if>
    </where>
  </select>
  <insert id="insertEntity" parameterType="com.fangcang.titanjr.entity.TitanUserRole" >
    insert into t_tfs_user_role (tfsuserid, roleid, isactive
      creator, createtime, modifier, 
      modifytime)
    values (#{tfsuserid,jdbcType=INTEGER}, #{roleid,jdbcType=INTEGER}, #{isactive},
      #{creator,jdbcType=VARCHAR}, #{createtime}, #{modifier,jdbcType=VARCHAR}, 
      #{modifytime})
  </insert>

  <insert id="batchSaveUserRoles" parameterType="java.util.List" >
    replace into t_tfs_user_role
      (tfsuserid,
        roleid,
        isactive,
        creator,
        createtime,
        modifier,
        modifytime)
    values
      <foreach collection="list" item="item" index="index" separator=",">
        (#{item.tfsuserid,jdbcType=INTEGER},
        #{item.roleid,jdbcType=INTEGER},
        #{item.isactive},
        #{item.creator,jdbcType=VARCHAR},
        #{item.createtime},
        #{item.modifier,jdbcType=VARCHAR},
        #{item.modifytime})
      </foreach>

  </insert>

  
  <update id="updateEntity" parameterType="com.fangcang.titanjr.entity.TitanUserRole" >
    update t_tfs_user_role
    <set >
      <if test="isactive != null" >
        isactive = #{isactive},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        modifytime = #{modifytime},
      </if>
    </set>
    
    <where>
    	<if test="tfsuserid != null">tfsuserid = #{tfsuserid}</if>
    	<if test="roleid != null"> and roleid = #{roleid}</if>
    </where>
    
  </update>
  <delete id="deleteUserRole" parameterType="com.fangcang.titanjr.entity.parameter.TitanUserRoleParam">
  	delete from t_tfs_user_role
  	 <where>
    	<if test="tfsuserid != null">tfsuserid = #{tfsuserid}</if>
    	<if test="roleid != null"> and roleid = #{roleid}</if>
    </where>
  </delete>
  
  <select id="selectUserRoles" parameterType="java.lang.String" resultType="com.fangcang.titanjr.entity.TitanUserRole">
    select tfsuserid, roleid,creator, createtime, modifier,modifytime
    from t_tfs_user_role where tfsuserid=#{tfsuserid} and isactive=1
  </select>
</mapper>