<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangcang.titanjr.dao.TitanAccountDetailDao">
    <select id="queryList" resultType="com.fangcang.titanjr.entity.TitanAccountDetail"
            parameterType="com.fangcang.titanjr.entity.parameter.TitanAccountDetailParam">
        select * from t_tfs_accountdetail
        <where>
            <if test="accountCode != null">accountcode = #{accountCode}</if>
            <if test="transOrderId != null"> and transorderid =#{transOrderId}</if>
            <if test="userOrderId != null"> and userorderid =#{userOrderId}</if>
            <if test="tradeType != null"> and tradetype =#{tradeType}</if>
            <if test="orgCode != null"> and orgcode =#{orgCode}</if>
            <if test="productId != null"> and productid =#{productId}</if>
            <if test="status != null"> and status =#{status}</if>
          </where>
    </select>

    
    <insert id="insertEntity" parameterType="com.fangcang.titanjr.entity.TitanAccountDetail" useGeneratedKeys="true" keyProperty="detailid">
    insert into t_tfs_accountdetail (accountcode, 
      transorderid,userorderid, tradetype, orgcode, 
      productid, balancetype,creditamount,frozonamount,
      settleamount,totalcreditamount,totalfrozonamount,totalsettleamount,status,remark,createtime)
    values ( #{accountCode}, #{transOrderId},#{userOrderId}, #{tradeType}, #{orgCode}, #{productId},
    #{balanceType},#{creditAmount},#{frozonAmount},#{settleAmount},#{totalCreditAmount},#{totalFrozonAmount},#{totalSettleAmount},#{status},
    #{remark},#{createTime})
  </insert>
    

</mapper>
