<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.fangcang.titanjr.dao.TitanRefundDao" >
  <insert id="insertEntity" parameterType="com.fangcang.titanjr.entity.TitanRefund" >
    insert into t_tfs_refund ( orderid, refundOrderno, createtime,refundAmount,orderTime,creator,status,
    transferAmount,fee,userOrderId,payOrderNo,notifyUrl,businessInfo)
    values (#{orderid,jdbcType=VARCHAR}, #{refundOrderno,jdbcType=VARCHAR}, #{createTime},#{refundAmount},
    		#{orderTime},#{creator},#{status},#{transferAmount},#{fee},#{userorderid},#{payOrderNo},#{notifyUrl},#{businessInfo})
  </insert>
  
  <resultMap id="refundDTOMapper" type="com.fangcang.titanjr.dto.bean.RefundDTO" >
    <result property="refundId" column="refundid"/>
    <result property="orderNo" column="orderid"/>
    <result property="refundAmount" column="refundAmount"/>
    <result property="refundOrderno" column="refundOrderno"/>
    <result property="orderTime" column="orderTime"/>
    <result property="creator" column="creator"/>
    <result property="transferAmount" column="transferAmount"/>
    <result property="fee" column="fee"/>
    <result property="userOrderId" column="userOrderId"/>
    <result property="payOrderNo" column="payOrderNo"/>
    <result property="notifyUrl" column="notifyUrl"/>
    <result property="businessInfo" column="businessInfo"/>
    <result property="createtime" column="createtime"/>
    <result property="version" column="version"/>
    <result property="transStatus" column="statusid"/>
  </resultMap>
  
  
  <select id="queryList" parameterType="com.fangcang.titanjr.dto.bean.RefundDTO" resultMap="refundDTOMapper">
     select refundid,orderid,refundAmount,refundOrderno,orderTime,creator,status,transferAmount,
            fee,userOrderId,payOrderNo,notifyUrl,businessInfo,createtime,'' as version, '' as statusid  from t_tfs_refund
     <where>
       <if test="refundId !=null">
       refundid = #{refundId}
       </if>
       <if test="orderNo !=null">
         orderid =#{orderNo}
       </if>
       <if test="refundOrderno !=null">
         refundOrderno =#{refundOrderno}
       </if>
       <if test="status !=null">
        status =#{status}
       </if>
       <if test="userOrderId !=null">
        userOrderId=#{userOrderId}
       </if>
     </where>
  </select>

  <select id="queryRefundDTODetail" parameterType="com.fangcang.titanjr.dto.bean.RefundDTO" resultMap="refundDTOMapper">
    SELECT
      d.refundid,
      d.orderid,
      d.refundAmount,
      d.refundOrderno,
      d.orderTime,
      d.creator,
      d. STATUS,
      d.transferAmount,
      d.fee,
      d.userOrderId,
      d.payOrderNo,
      d.notifyUrl,
      d.businessInfo,
      d.createtime,
      q.version,
      o.statusid
    FROM
      t_tfs_refund d,
      t_tfs_transorder o,
      t_tfs_orderpayreq q
    <where>
      o.orderid = d.orderid
      and o.transid = q.transorderid
      <if test="startTime != null"> and <![CDATA[ d.createtime >= #{startTime} ]]></if>
      <if test="endTime != null"> and <![CDATA[ d.createtime < #{endTime} ]]></if>
      <if test="merchantNo !=null"> AND o.payermerchant = #{merchantNo} </if>
    </where>
  </select>

  
  <update id="updateEntity" parameterType="com.fangcang.titanjr.dto.bean.RefundDTO">
    update t_tfs_refund
    <set>
    	<if test="status!=null">status = #{status},</if>
    	<if test="refundOrderno!=null">refundOrderno = #{refundOrderno},</if>
    </set>
    <where>
       <if test="refundId !=null">
         refundid = #{refundId}
       </if>
       <if test="orderNo !=null">
         and orderid =#{orderNo}
       </if>
    </where>
  </update>
  
  
</mapper>