<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangcang.titanjr.dao.TitanOrderPayreqDao" >
   <select id="queryList" resultType="com.fangcang.titanjr.entity.TitanOrderPayreq" parameterType="com.fangcang.titanjr.entity.parameter.TitanOrderPayreqParam" >
    select 
    *
    from t_tfs_orderpayreq 
    <where>
    	<if test="orderpayreqid != null"> orderpayreqid = #{orderpayreqid}</if>
    	<if test="transorderid != null"> and transorderid = #{transorderid}</if>
    	<if test="merchantNo != null"> and merchantNo = #{merchantNo}</if>
    	<if test="orderNo != null"> and orderNo = #{orderNo}</if>
    </where>
  </select>
  <insert id="insertEntity" parameterType="com.fangcang.titanjr.entity.TitanOrderPayreq" >
    insert into t_tfs_orderpayreq (orderpayreqid, transorderid, merchantNo, 
      orderNo, productNo, productName, 
      productDesc, productNum, orderAmount, 
      payType, amtType, bankInfo, 
      payerAcount, payerName, payerPhone, 
      payerMail, pageUrl, notifyUrl, 
      orderTime, orderExpireTime, orderMark, 
      expand, expand2, signType, 
      busiCode, version, charset, 
      signMsg, reqstatus, standardrate, 
      executionrate, ratetype, receivablefee, 
      receivedfee , standfee)
    values (#{orderpayreqid,jdbcType=INTEGER}, #{transorderid,jdbcType=INTEGER}, #{merchantNo,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=VARCHAR}, #{productNo,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, 
      #{productDesc,jdbcType=VARCHAR}, #{productNum,jdbcType=INTEGER}, #{orderAmount,jdbcType=DOUBLE}, 
      #{payType,jdbcType=VARCHAR}, #{amtType,jdbcType=VARCHAR}, #{bankInfo,jdbcType=VARCHAR}, 
      #{payerAcount,jdbcType=VARCHAR}, #{payerName,jdbcType=VARCHAR}, #{payerPhone,jdbcType=VARCHAR}, 
      #{payerMail,jdbcType=VARCHAR}, #{pageUrl,jdbcType=VARCHAR}, #{notifyUrl,jdbcType=VARCHAR}, 
      #{orderTime}, #{orderExpireTime}, #{orderMark,jdbcType=INTEGER}, 
      #{expand,jdbcType=VARCHAR}, #{expand2,jdbcType=VARCHAR}, #{signType,jdbcType=INTEGER}, 
      #{busiCode,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, #{charset,jdbcType=INTEGER}, 
      #{signMsg,jdbcType=VARCHAR}, #{reqstatus,jdbcType=INTEGER}, #{standardrate}, 
      #{executionrate}, #{ratetype,jdbcType=INTEGER}, #{receivablefee}, 
      #{receivedfee},#{standfee})
  </insert>
  <update id="updateEntity" parameterType="com.fangcang.titanjr.entity.TitanOrderPayreq" >
    update t_tfs_orderpayreq
    <set >
      <if test="transorderid != null" >
        transorderid = #{transorderid,jdbcType=INTEGER},
      </if>
      <if test="merchantNo != null" >
        merchantNo = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        orderNo = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="productNo != null" >
        productNo = #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        productName = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productDesc != null" >
        productDesc = #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="productNum != null" >
        productNum = #{productNum,jdbcType=INTEGER},
      </if>
      <if test="orderAmount != null" >
        orderAmount = #{orderAmount,jdbcType=DOUBLE},
      </if>
      <if test="payType != null" >
        payType = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="amtType != null" >
        amtType = #{amtType,jdbcType=VARCHAR},
      </if>
      <if test="bankInfo != null" >
        bankInfo = #{bankInfo,jdbcType=VARCHAR},
      </if>
      <if test="payerAcount != null" >
        payerAcount = #{payerAcount,jdbcType=VARCHAR},
      </if>
      <if test="payerName != null" >
        payerName = #{payerName,jdbcType=VARCHAR},
      </if>
      <if test="payerPhone != null" >
        payerPhone = #{payerPhone,jdbcType=VARCHAR},
      </if>
      <if test="payerMail != null" >
        payerMail = #{payerMail,jdbcType=VARCHAR},
      </if>
      <if test="pageUrl != null" >
        pageUrl = #{pageUrl,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null" >
        notifyUrl = #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null" >
        orderTime = #{orderTime},
      </if>
      <if test="orderExpireTime != null" >
        orderExpireTime = #{orderExpireTime},
      </if>
      <if test="orderMark != null" >
        orderMark = #{orderMark,jdbcType=INTEGER},
      </if>
      <if test="expand != null" >
        expand = #{expand,jdbcType=VARCHAR},
      </if>
      <if test="expand2 != null" >
        expand2 = #{expand2,jdbcType=VARCHAR},
      </if>
      <if test="signType != null" >
        signType = #{signType,jdbcType=INTEGER},
      </if>
      <if test="busiCode != null" >
        busiCode = #{busiCode,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="charset != null" >
        charset = #{charset,jdbcType=INTEGER},
      </if>
      <if test="signMsg != null" >
        signMsg = #{signMsg,jdbcType=VARCHAR},
      </if>
      <if test="reqstatus != null" >
        reqstatus = #{reqstatus,jdbcType=INTEGER},
      </if>
      <if test="standardrate != null" >
        standardrate = #{standardrate},
      </if>
      <if test="executionrate != null" >
        executionrate = #{executionrate},
      </if>
      <if test="ratetype != null" >
        ratetype = #{ratetype,jdbcType=INTEGER},
      </if>
      <if test="receivablefee != null" >
        receivablefee = #{receivablefee},
      </if>
      <if test="receivedfee != null" >
        receivedfee = #{receivedfee},
      </if>
      <if test="standfee != null" >
        standfee = #{standfee},
      </if>
    </set>
    where orderpayreqid = #{orderpayreqid,jdbcType=INTEGER}
  </update>
  
  <update id="updateTitanOrderPayreqByOrderNo" parameterType="com.fangcang.titanjr.entity.TitanOrderPayreq">
   update t_tfs_orderpayreq
     <set >
        <if test="transorderid != null" >
        transorderid = #{transorderid,jdbcType=INTEGER},
      </if>
      <if test="merchantNo != null" >
        merchantNo = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        orderNo = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="productNo != null" >
        productNo = #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        productName = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productDesc != null" >
        productDesc = #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="productNum != null" >
        productNum = #{productNum,jdbcType=INTEGER},
      </if>
      <if test="orderAmount != null" >
        orderAmount = #{orderAmount,jdbcType=DOUBLE},
      </if>
      <if test="payType != null" >
        payType = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="amtType != null" >
        amtType = #{amtType,jdbcType=VARCHAR},
      </if>
      <if test="bankInfo != null" >
        bankInfo = #{bankInfo,jdbcType=VARCHAR},
      </if>
      <if test="payerAcount != null" >
        payerAcount = #{payerAcount,jdbcType=VARCHAR},
      </if>
      <if test="payerName != null" >
        payerName = #{payerName,jdbcType=VARCHAR},
      </if>
      <if test="payerPhone != null" >
        payerPhone = #{payerPhone,jdbcType=VARCHAR},
      </if>
      <if test="payerMail != null" >
        payerMail = #{payerMail,jdbcType=VARCHAR},
      </if>
      <if test="pageUrl != null" >
        pageUrl = #{pageUrl,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null" >
        notifyUrl = #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null" >
        orderTime = #{orderTime},
      </if>
      <if test="orderExpireTime != null" >
        orderExpireTime = #{orderExpireTime},
      </if>
      <if test="orderMark != null" >
        orderMark = #{orderMark,jdbcType=INTEGER},
      </if>
      <if test="expand != null" >
        expand = #{expand,jdbcType=VARCHAR},
      </if>
      <if test="expand2 != null" >
        expand2 = #{expand2,jdbcType=VARCHAR},
      </if>
      <if test="signType != null" >
        signType = #{signType,jdbcType=INTEGER},
      </if>
      <if test="busiCode != null" >
        busiCode = #{busiCode,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="charset != null" >
        charset = #{charset,jdbcType=INTEGER},
      </if>
      <if test="signMsg != null" >
        signMsg = #{signMsg,jdbcType=VARCHAR},
      </if>
      <if test="reqstatus != null" >
        reqstatus = #{reqstatus,jdbcType=INTEGER},
      </if>
      <if test="standardrate != null" >
        standardrate = #{standardrate},
      </if>
      <if test="executionrate != null" >
        executionrate = #{executionrate},
      </if>
      <if test="ratetype != null" >
        ratetype = #{ratetype,jdbcType=INTEGER},
      </if>
      <if test="receivablefee != null" >
        receivablefee = #{receivablefee},
      </if>
      <if test="receivedfee != null" >
        receivedfee = #{receivedfee},
      </if>
      <if test="standfee != null" >
        standfee = #{standfee},
      </if>
    </set>
     where orderno = #{orderNo}
  </update>
</mapper>
