<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangcang.titanjr.dao.TitanTransferReqDao" >
  <select id="queryList" resultType="com.fangcang.titanjr.entity.TitanTransferReq" parameterType="com.fangcang.titanjr.entity.parameter.TitanTransferReqParam" >
    select 
    *
    from t_tfs_transferreq
    <where>
      <if test="transferreqid !=null">
        and transferreqid = #{transferreqid,jdbcType=INTEGER}
      </if>
      <if test="transorderid !=null">
        and transorderid = #{transorderid}
      </if>
      <if test="requestno !=null">
        and requestno = #{requestno}
      </if>
       <if test="userrelateid !=null">
        and userrelateid = #{userrelateid}
      </if>
      order by createtime desc
    </where>
  </select>
  <insert id="insertEntity" parameterType="com.fangcang.titanjr.entity.TitanTransferReq" keyProperty="transferreqid" useGeneratedKeys="true">
    insert into t_tfs_transferreq (transferreqid, transorderid, transfertype, 
      conditioncode, merchantcode, userid, 
      productid, intermerchantcode, userrelateid, 
      interproductid, amount, userfee, 
      requestno, requesttime, useripaddress, 
      remark, status, creator, 
      createtime,payorderno)
    values (#{transferreqid,jdbcType=INTEGER}, #{transorderid,jdbcType=INTEGER}, #{transfertype,jdbcType=INTEGER}, 
      #{conditioncode,jdbcType=INTEGER}, #{merchantcode,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, 
      #{productid,jdbcType=VARCHAR}, #{intermerchantcode,jdbcType=VARCHAR}, #{userrelateid,jdbcType=VARCHAR}, 
      #{interproductid,jdbcType=VARCHAR}, #{amount,jdbcType=DOUBLE}, #{userfee,jdbcType=DOUBLE}, 
      #{requestno,jdbcType=VARCHAR}, #{requesttime}, #{useripaddress,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, 
      #{createtime},#{payorderno})
  </insert>
  <update id="updateEntity" parameterType="com.fangcang.titanjr.entity.TitanTransferReq" >
    update t_tfs_transferreq
    <set >
      <if test="transorderid != null" >
        transorderid = #{transorderid,jdbcType=INTEGER},
      </if>
      <if test="transfertype != null" >
        transfertype = #{transfertype,jdbcType=INTEGER},
      </if>
      <if test="conditioncode != null" >
        conditioncode = #{conditioncode,jdbcType=INTEGER},
      </if>
      <if test="merchantcode != null" >
        merchantcode = #{merchantcode,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="productid != null" >
        productid = #{productid,jdbcType=VARCHAR},
      </if>
      <if test="intermerchantcode != null" >
        intermerchantcode = #{intermerchantcode,jdbcType=VARCHAR},
      </if>
      <if test="userrelateid != null" >
        userrelateid = #{userrelateid,jdbcType=VARCHAR},
      </if>
      <if test="interproductid != null" >
        interproductid = #{interproductid,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="userfee != null" >
        userfee = #{userfee,jdbcType=DOUBLE},
      </if>
      <if test="requestno != null" >
        requestno = #{requestno,jdbcType=VARCHAR},
      </if>
      <if test="requesttime != null" >
        requesttime = #{requesttime},
      </if>
      <if test="useripaddress != null" >
        useripaddress = #{useripaddress,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime},
      </if>
    </set>
    where transferreqid = #{transferreqid,jdbcType=INTEGER}
  </update>
  
  <update id="updateTitanTransferReqByTransorderid" parameterType="com.fangcang.titanjr.entity.TitanTransferReq">
    update t_tfs_transferreq
    <set >
      <if test="transorderid != null" >
        transorderid = #{transorderid,jdbcType=INTEGER},
      </if>
      <if test="transfertype != null" >
        transfertype = #{transfertype,jdbcType=INTEGER},
      </if>
      <if test="conditioncode != null" >
        conditioncode = #{conditioncode,jdbcType=INTEGER},
      </if>
      <if test="merchantcode != null" >
        merchantcode = #{merchantcode,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="productid != null" >
        productid = #{productid,jdbcType=VARCHAR},
      </if>
      <if test="intermerchantcode != null" >
        intermerchantcode = #{intermerchantcode,jdbcType=VARCHAR},
      </if>
      <if test="userrelateid != null" >
        userrelateid = #{userrelateid,jdbcType=VARCHAR},
      </if>
      <if test="interproductid != null" >
        interproductid = #{interproductid,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="userfee != null" >
        userfee = #{userfee,jdbcType=DOUBLE},
      </if>
      <if test="requestno != null" >
        requestno = #{requestno,jdbcType=VARCHAR},
      </if>
      <if test="requesttime != null" >
        requesttime = #{requesttime},
      </if>
      <if test="useripaddress != null" >
        useripaddress = #{useripaddress,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime},
      </if>
    </set>
    where requestno = #{requestno}
  </update>
  
  <select id="selectTitanTransfer" parameterType="com.fangcang.titanjr.entity.parameter.TitanTransferReqParam" resultType="com.fangcang.titanjr.entity.TitanTransferReq">
    select transferreqid, transorderid, transfertype, 
      conditioncode, merchantcode, userid, 
      productid, intermerchantcode, userrelateid, 
      interproductid, amount, userfee, 
      requestno, requesttime, useripaddress, 
      remark, status, creator, 
      createtime,payorderno from t_tfs_transferreq 
      <where>
        <if test="payorderno !=null">
          and payorderno=#{payorderno}
        </if>
        <if test="transferreqid !=null">
          and transferreqid=#{transferreqid}
        </if>
        <if test="transorderid !=null">
          and transorderid=#{transorderid}
        </if>
      </where>
  
  </select>
  
  
</mapper>