<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangcang.titanjr.dao.TitanOrgImageDao" >
   <select id="queryList" resultType="com.fangcang.titanjr.entity.TitanOrgImage" parameterType="com.fangcang.titanjr.entity.parameter.TitanOrgImageParam" >
    select 
    *
    from t_tfs_orgimage
    <where>
    	<if test="imageid != null "> imageid = #{imageid}</if>
    	<if test="userid != null "> and userid = #{userid}</if>
    	<if test="orgcode != null "> and orgcode = #{orgcode}</if>
    	<if test="imagetype != null "> and imagetype = #{imagetype}</if>
    	<if test="sizetype != null "> and sizetype = #{sizetype}</if>
    	<if test="isactive != null "> and isactive = #{isactive}</if>
    </where>
  </select>
  <insert id="insertEntity" parameterType="com.fangcang.titanjr.entity.TitanOrgImage" useGeneratedKeys="true" keyProperty="imageid">
    insert into t_tfs_orgimage (imageid, userid, orgcode, 
      imageName, imagetype, sizetype, 
      imageurl, isactive, creator, 
      createtime, modifier, modifytime
      )
    values (#{imageid,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{orgcode,jdbcType=VARCHAR}, 
      #{imageName,jdbcType=VARCHAR}, #{imagetype,jdbcType=INTEGER}, #{sizetype,jdbcType=INTEGER}, 
      #{imageurl,jdbcType=VARCHAR}, #{isactive,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, 
      #{createtime}, #{modifier,jdbcType=VARCHAR}, #{modifytime}
      )
  </insert>
  <delete id="deleteEntity" parameterType="com.fangcang.titanjr.entity.parameter.TitanOrgImageParam">
  	delete from t_tfs_orgimage
  	<where>
  		<if test="userid != null" >
	      and  userid = #{userid}  
	      </if>
	      <if test="orgcode != null" >
	      and  orgcode = #{orgcode},
	      </if>
  			<if test="imageid != null" >
	      and  imageid = #{imageid},
	      </if>
  	</where>
  
  </delete>
  <update id="updateEntity" parameterType="com.fangcang.titanjr.entity.TitanOrgImage" >
    update t_tfs_orgimage
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="orgcode != null" >
        orgcode = #{orgcode,jdbcType=VARCHAR},
      </if>
      <if test="imageName != null" >
        imageName = #{imageName,jdbcType=VARCHAR},
      </if>
      <if test="imagetype != null" >
        imagetype = #{imagetype,jdbcType=INTEGER},
      </if>
      <if test="sizetype != null" >
        sizetype = #{sizetype,jdbcType=INTEGER},
      </if>
      <if test="imageurl != null" >
        imageurl = #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="isactive != null" >
        isactive = #{isactive,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        modifytime = #{modifytime},
      </if>
    </set>
    where imageid = #{imageid,jdbcType=INTEGER}
  </update>
  <update id="updateIsActiveByOrgCode" parameterType="com.fangcang.titanjr.entity.TitanOrgImage" >
    update t_tfs_orgimage
    <set>
      <if test="imageName != null" >
        imageName = #{imageName,jdbcType=VARCHAR},
      </if>
      <if test="imagetype != null" >
        imagetype = #{imagetype,jdbcType=INTEGER},
      </if>
      <if test="isactive != null" >
        isactive = #{isactive,jdbcType=INTEGER},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        modifytime = #{modifytime},
      </if>
    </set>
    where  orgcode = #{orgcode,jdbcType=VARCHAR}
  </update>
  
</mapper>