<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangcang.titanjr.dao.TitanRateConfigDao">

    <insert id="batchSaveRateConfigs" parameterType="java.util.List">
        insert into t_tfs_rateconfig (userid, cashieritemid, bustype,
        ratetype, rsrate, standrate,expiration,
        executionrate, description, creator,
        createtime)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.userid,jdbcType=VARCHAR},
            #{item.cashieritemid,jdbcType=INTEGER},
            #{item.bustype,jdbcType=INTEGER},
            #{item.ratetype,jdbcType=INTEGER},
            #{item.rsrate},
            #{item.standrate},
            #{item.expiration},
            #{item.executionrate},
            #{item.description,jdbcType=VARCHAR},
            #{item.creator,jdbcType=VARCHAR},
            #{item.createtime})
        </foreach>
    </insert>
    <insert id="insertRateRecord" parameterType="com.fangcang.titanjr.entity.TitanRateRecord">
     	insert  into `t_tfs_raterecord`(`userId`,`accountCode`,`currency`,`creator`,`createTime`,`rateType`,`receivablefee`,`receivedfee`
     	,`standerdfee`,`standardRate`,`receivableRate`,`receivedRate`,`amount`,`payType`,`usedFor`,`orderNo`)
		values (#{userId},#{accountCode},#{currency},#{creator},#{createTime},#{rateType},#{receivablefee},#{receivedfee},#{standerdfee},#{standardRate},#{receivableRate},#{receivedRate},#{amount},#{payType},#{usedFor},#{orderNo});
    </insert>
    
    <delete id="deleteRateRecordByOrderNo" parameterType="java.lang.String">
    	  delete from t_tfs_raterecord where orderNo=#{orderNo}
    </delete>
    
    <select id="queryRateConfigList" resultType="com.fangcang.titanjr.entity.TitanRateConfig"
					parameterType="com.fangcang.titanjr.entity.parameter.TitanRateConfigParam">
    	
    	SELECT t1.* FROM t_tfs_rateconfig t1,(SELECT t1.itemid FROM t_tfs_cashierdeskitem t1 , t_tfs_cashierdesk t2 
		WHERE t1.deskid = t2.deskid AND t2.userId= #{userid} AND t1.itemtype = #{cashierItemType}) 
		t2 WHERE t1.cashieritemid = t2.itemid LIMIT 1
    	
    </select>

    <update id="updateEntity" parameterType="com.fangcang.titanjr.entity.TitanRateConfig">
        update t_tfs_rateconfig
        <set>
            <if test="cashieritemid != null">
                cashieritemid = #{cashieritemid,jdbcType=INTEGER},
            </if>
            <if test="bustype != null">
                bustype = #{bustype,jdbcType=INTEGER},
            </if>
            <if test="ratetype != null">
                ratetype = #{ratetype,jdbcType=INTEGER},
            </if>
            <if test="rsrate != null">
                rsrate = #{rsrate},
            </if>
            <if test="standrate != null">
                standrate = #{standrate},
            </if>
            <if test="executionrate != null">
                executionrate = #{executionrate},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                createtime = #{createtime},
            </if>
        </set>
        where rateconfigid = #{rateconfigid,jdbcType=INTEGER}
    </update>
</mapper>