<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangcang.titanjr.dao.TitanRateConfigDao">

	<!-- 费率结构更改  update by jerry -->
    <insert id="batchSaveRateConfigs" parameterType="java.util.List">
        insert into t_tfs_rateconfig (userid, deskid,
        usedfor, ratetype, standrate,expiration,
        executionrate, description,
        minrate, maxrate,
        creator,createtime)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.userid,jdbcType=VARCHAR},
            #{item.deskid,jdbcType=INTEGER},
            #{item.usedfor},
            #{item.ratetype,jdbcType=INTEGER},
            #{item.standrate},
            #{item.expiration},
            #{item.executionrate},
            #{item.description,jdbcType=VARCHAR},
            #{item.minrate},
            #{item.maxrate},
            #{item.creator},
            #{item.createtime})
        </foreach>
    </insert>
    <insert id="insertRateRecord" parameterType="com.fangcang.titanjr.entity.TitanRateRecord">
     	insert  into `t_tfs_raterecord`(`userId`,`accountCode`,`currency`,`creator`,`createTime`,`rateType`,`receivablefee`,`receivedfee`
     	,`standerdfee`,`standardRate`,`receivableRate`,`receivedRate`,`amount`,`payType`,`usedFor`,`orderNo`)
		values (#{userId},#{accountCode},#{currency},#{creator},#{createTime},#{rateType},#{receivablefee},#{receivedfee},#{standerdfee},#{standardRate},#{receivableRate},#{receivedRate},#{amount},#{payType},#{usedFor},#{orderNo});
    </insert>
    
    <select id="getRateRecordByOrderNo" parameterType="java.lang.String" resultType="com.fangcang.titanjr.entity.TitanRateRecord">
    	select * from `t_tfs_raterecord` where orderNo=#{orderNo}
    </select>
    
    <delete id="deleteRateRecordByOrderNo" parameterType="java.lang.String">
    	  delete from t_tfs_raterecord where orderNo=#{orderNo}
    </delete>
    
    <!-- 查询费率配置  update by jerry -->
    <select id="queryRateConfigList" resultType="com.fangcang.titanjr.entity.TitanRateConfig"
					parameterType="com.fangcang.titanjr.entity.parameter.TitanRateConfigParam">
    	SELECT * FROM t_tfs_rateconfig 
    	<where>
    	  <if test="userid !=null">
    	    and userId= #{userid}
    	  </if>
    	  <if test="deskid != null and deskid != ''">
    	    and deskid=#{deskid}
    	  </if>
    	  <if test="rateconfigid !=null">
    	    and rateconfigid=#{rateconfigid}
    	  </if>
    	  
    	</where>
    </select>
    

    <update id="updateEntity" parameterType="com.fangcang.titanjr.entity.TitanRateConfig">
        update t_tfs_rateconfig
        <set>
        	<if test="deskid != null">
                deskid = #{deskid,jdbcType=INTEGER},
            </if>
        	<if test="usedfor != null">
                usedfor = #{usedfor,jdbcType=INTEGER},
            </if>
            <if test="ratetype != null">
                ratetype = #{ratetype,jdbcType=INTEGER},
            </if>
            <if test="standrate != null">
                standrate = #{standrate},
            </if>
            <if test="executionrate != null">
                executionrate = #{executionrate},
            </if>
            <if test="minrate != null">
                minrate = #{minrate,jdbcType=INTEGER},
            </if>
        	<if test="maxrate != null">
                maxrate = #{maxrate,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                createtime = #{createtime},
            </if>
        </set>
        where rateconfigid = #{rateconfigid,jdbcType=INTEGER}
    </update>
    
    <select id="queryAllUserId" resultType="java.lang.String">
      select distinct userid from t_tfs_rateconfig
    </select>
    
    <!-- 无用 -->
    <select id="queryUserIdNoRateConfig" parameterType="Integer" resultType="java.lang.String">
    	 SELECT DISTINCT(userid) FROM t_tfs_rateconfig WHERE userid NOT IN (SELECT DISTINCT userid FROM `t_tfs_rateconfig` WHERE bustype =#{busType})
    </select>
    
    <delete id="truncateRateConfig">
    	TRUNCATE TABLE t_tfs_rateconfig
    </delete>
    
</mapper>