<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangcang.titanjr.dao.TitanUserBindInfoDao" >
 
  <select id="queryList" resultType="com.fangcang.titanjr.entity.TitanUserBindInfo" parameterType="com.fangcang.titanjr.entity.parameter.TitanUserBindInfoParam" >
    select 
    *
    from t_tfs_userbindinfo
    <where>
    	isactive = 1
   		<if test="tfsuserid != null"> and tfsuserid = #{tfsuserid,jdbcType=INTEGER}</if> 
   		<if test="merchantcode != null"> and  merchantcode = #{merchantcode}</if> 
   		<if test="cooptype != null"> and  cooptype = #{cooptype}</if>
    </where>
  </select>
  <insert id="insertEntity" parameterType="com.fangcang.titanjr.entity.TitanUserBindInfo" >
    insert into t_tfs_userbindinfo (tfsuserid, fcuserid, username, 
      loginname, fcusername, fcloginname, 
      merchantcode,cooptype, isactive, creator, 
      createtime, modifior, modifytime
      )
    values (#{tfsuserid,jdbcType=INTEGER}, #{fcuserid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{loginname,jdbcType=VARCHAR}, #{fcusername,jdbcType=VARCHAR}, #{fcloginname,jdbcType=VARCHAR}, 
      #{merchantcode,jdbcType=VARCHAR},#{cooptype}, #{isactive,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, 
      #{createtime}, #{modifior,jdbcType=VARCHAR}, #{modifytime}
      )
  </insert>
  <update id="updateEntity" parameterType="com.fangcang.titanjr.entity.TitanUserBindInfo" >
    update t_tfs_userbindinfo
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="loginname != null" >
        loginname = #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="fcusername != null" >
        fcusername = #{fcusername,jdbcType=VARCHAR},
      </if>
      <if test="fcloginname != null" >
        fcloginname = #{fcloginname,jdbcType=VARCHAR},
      </if>
      <if test="merchantcode != null" >
        merchantcode = #{merchantcode,jdbcType=VARCHAR},
      </if>
      <if test="isactive != null" >
        isactive = #{isactive,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime},
      </if>
      <if test="modifior != null" >
        modifior = #{modifior,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        modifytime = #{modifytime},
      </if>
    </set>
    <where>
   		<if test="tfsuserid != null">tfsuserid = #{tfsuserid,jdbcType=INTEGER}</if> 
   		<if test="merchantcode != null"> and  merchantcode = #{merchantcode}</if> 
   		<if test="cooptype != null"> and  cooptype = #{cooptype}</if> 
    </where>
     
  </update>
  <update id="updateIsactiveBatch" parameterType="Map" >
  	update t_tfs_userbindinfo 
  	<set>
  		<if test="isactive != null" >
       		isactive = #{isactive},
      	</if>
  		<if test="modifior != null" >
        modifior = #{modifior,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        modifytime = #{modifytime},
      </if>
  	</set>
  	<where>
  		<if test="merchantcode != null">merchantcode = #{merchantcode}</if>
      	<if test="cooptype != null"> and  cooptype = #{cooptype}</if> 
  	</where>
  </update>
  <select id="selectUserBindInfoByFcuserid" parameterType="com.fangcang.titanjr.entity.TitanUserBindInfo" resultType="com.fangcang.titanjr.entity.TitanUserBindInfo">
    select tfsuserid, fcuserid, username, loginname, fcusername, fcloginname, merchantcode,cooptype, isactive, creator, 
      createtime, modifior, modifytime from t_tfs_userbindinfo 
      <where>
        <if test="fcuserid !=null">
         and fcuserid=#{fcuserid}
        </if>
        <if test="cooptype !=null">
         and cooptype=#{cooptype}
        </if>
         <if test="merchantcode !=null">
         and merchantcode=#{merchantcode}
        </if>
        <if test="tfsuserid !=null">
         and tfsuserid =#{tfsuserid}
        </if>
          and isactive = 1
      </where>
  </select>
</mapper>
