<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangcang.titanjr.dao.TitanCheckCodeDao">
  <select id="queryList" parameterType="com.fangcang.titanjr.entity.parameter.TitanCheckCodeParam" resultType="com.fangcang.titanjr.entity.TitanCheckCode">
    select  codeId, receiveAddress, code, codeType, isactive, createTime, expiredTime,useTime
    from t_tfs_checkcode
    <where>
    	<if test="codeId != null">codeId = #{codeId}</if>
    	<if test="receiveAddress != null">AND receiveAddress = #{receiveAddress}</if>
    	<if test="code != null">AND code = #{code}</if>
    	<if test="codeType != null">AND codeType = #{codeType}</if>
    	<if test="isactive != null">AND isactive = #{isactive}</if>
    </where>
  </select>
  <insert id="insertEntity" parameterType="com.fangcang.titanjr.entity.TitanCheckCode">
    insert into t_tfs_checkcode (receiveAddress, code, 
      codeType, isactive, createTime, 
      expiredTime,useTime)
    values ( #{receiveAddress,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{codeType,jdbcType=TINYINT}, #{isactive,jdbcType=TINYINT}, #{createTime}, 
      #{expiredTime},#{useTime})
  </insert>
  <update id="updateEntity" parameterType="com.fangcang.titanjr.entity.TitanCheckCode">
    update t_tfs_checkcode
    <set>
      <if test="receiveAddress != null">
        receiveAddress = #{receiveAddress,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="codeType != null">
        codeType = #{codeType,jdbcType=TINYINT},
      </if>
      <if test="isactive != null">
        isactive = #{isactive,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        createTime = #{createTime},
      </if>
      <if test="expiredTime != null">
        expiredTime = #{expiredTime},
      </if>
      <if test="useTime != null">
        useTime = #{useTime},
      </if>
    </set>
    where codeId = #{codeId,jdbcType=INTEGER}
  </update>
  <update id="disableIsactive" parameterType="com.fangcang.titanjr.entity.TitanCheckCode">
    update t_tfs_checkcode
    <set>
      <if test="isactive != null">
        isactive = #{isactive,jdbcType=TINYINT},
      </if>
    </set>
    where receiveAddress = #{receiveAddress,jdbcType=INTEGER}
  </update>
</mapper>