<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangcang.titanjr.dao.TitanBankcardDao" >
   <select id="queryList" resultType="com.fangcang.titanjr.entity.TitanBankcard" parameterType="com.fangcang.titanjr.entity.parameter.TitanBankcardParam" >
    select 
    *
    from t_tfs_bankcard
    <where>
      <if test="userid !=null">
        and userid = #{userid}
      </if>
      <if test="accountproperty !=null">
        and accountproperty = #{accountproperty}
      </if>
       <if test="status !=null">
        and status = #{status}
      </if>
      <if test="accountpurpose !=null">
        and accountpurpose = #{accountpurpose}
      </if>
    </where>
    
  </select>
  
  <select id="queryEntity" resultType="com.fangcang.titanjr.entity.TitanBankcard" parameterType="com.fangcang.titanjr.entity.parameter.TitanBankcardParam" >
    select  * from t_tfs_bankcard
    <where>
      <if test="userid !=null">
        and userid = #{userid}
      </if>
      <if test="usertype !=null">
        and usertype = #{usertype}
      </if>
      <if test="constid !=null">
        and constid = #{constid}
      </if>
      <if test="productid !=null">
        and productid = #{productid}
      </if>
       <if test="status !=null">
        and status = #{status}
      </if>
      <if test="accountpurpose !=null">
        and accountpurpose = #{accountpurpose}
      </if>
      <if test="accountproperty !=null">
        and accountproperty = #{accountproperty}
      </if>
    </where>
  </select>
  
  <insert id="insertEntity" parameterType="com.fangcang.titanjr.entity.TitanBankcard" >
    insert into t_tfs_bankcard ( constid, userid, 
      usertype, productid, role, 
      accountnumber, accounttypeid, bankbranchname, 
      bankheadname, currency, openaccountdate, 
      reqsn, submittime, openaccountdescription, 
      accountpurpose, bindid, accountproperty, 
      relatid, certificatetype, certificatenumnumber, 
      accountname, relatedcard, tel, 
      merrem, remark, referuserid, 
      bankcode, bankbranch, bankprovince, 
      bankcity, status, creator, 
      createtime)
    values ( #{constid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, 
      #{usertype,jdbcType=INTEGER}, #{productid,jdbcType=VARCHAR}, #{role,jdbcType=VARCHAR}, 
      #{accountnumber,jdbcType=VARCHAR}, #{accounttypeid,jdbcType=VARCHAR}, #{bankbranchname,jdbcType=VARCHAR}, 
      #{bankheadname,jdbcType=VARCHAR}, #{currency,jdbcType=VARCHAR}, #{openaccountdate}, 
      #{reqsn,jdbcType=VARCHAR}, #{submittime}, #{openaccountdescription,jdbcType=VARCHAR}, 
      #{accountpurpose,jdbcType=VARCHAR}, #{bindid,jdbcType=VARCHAR}, #{accountproperty,jdbcType=VARCHAR}, 
      #{relatid,jdbcType=VARCHAR}, #{certificatetype,jdbcType=VARCHAR}, #{certificatenumnumber,jdbcType=VARCHAR}, 
      #{accountname,jdbcType=VARCHAR}, #{relatedcard,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{merrem,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{referuserid,jdbcType=VARCHAR}, 
      #{bankcode,jdbcType=VARCHAR}, #{bankbranch,jdbcType=VARCHAR}, #{bankprovince,jdbcType=VARCHAR}, 
      #{bankcity,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, 
      #{createtime})
  </insert>
  
  <insert id="intsertBatch" parameterType="list">
  	insert into t_tfs_bankcard
  		( constid, userid, bankcode,
      	usertype, productid, role, 
      	accountnumber, accounttypeid, bankbranchname, 
      	bankheadname, currency, openaccountdate, 
      	reqsn, submittime, openaccountdescription, 
      	accountpurpose, bindid, accountproperty, 
      	relatid, certificatetype, certificatenumnumber, 
      	accountname, relatedcard, tel, 
      	merrem, remark, referuserid, 
      	bankcode, bankbranch, bankprovince, 
      	bankcity, status, creator, 
      	createtime)
			values
		<foreach collection="list" item="item" index="index" separator=",">
			( #{item.constid,jdbcType=VARCHAR}, #{item.userid,jdbcType=VARCHAR}, #{item.bankhead,jdbcType=VARCHAR},
		      #{item.usertype,jdbcType=INTEGER}, #{item.productid,jdbcType=VARCHAR}, #{item.role,jdbcType=VARCHAR}, 
		      #{item.accountnumber,jdbcType=VARCHAR}, #{item.accounttypeid,jdbcType=VARCHAR}, #{item.bankbranchname,jdbcType=VARCHAR}, 
		      #{item.bankheadname,jdbcType=VARCHAR}, #{item.currency,jdbcType=VARCHAR}, #{item.openaccountdate}, 
		      #{item.reqsn,jdbcType=VARCHAR}, #{item.submittime}, #{item.openaccountdescription,jdbcType=VARCHAR}, 
		      #{item.accountpurpose,jdbcType=VARCHAR}, #{item.bindid,jdbcType=VARCHAR}, #{item.accountproperty,jdbcType=VARCHAR}, 
		      #{item.relatid,jdbcType=VARCHAR}, #{item.certificatetype,jdbcType=VARCHAR}, #{item.certificatenumnumber,jdbcType=VARCHAR}, 
		      #{item.accountname,jdbcType=VARCHAR}, #{item.relatedcard,jdbcType=VARCHAR}, #{item.tel,jdbcType=VARCHAR}, 
		      #{item.merrem,jdbcType=VARCHAR}, #{item.remark,jdbcType=VARCHAR}, #{item.referuserid,jdbcType=VARCHAR}, 
		      #{item.bankcode,jdbcType=VARCHAR}, #{item.bankbranch,jdbcType=VARCHAR}, #{item.bankprovince,jdbcType=VARCHAR}, 
		      #{item.bankcity,jdbcType=VARCHAR}, #{item.status,jdbcType=INTEGER}, #{item.creator,jdbcType=VARCHAR}, 
		      #{item.createtime})
		</foreach>
  </insert>
  
  <update id="updateEntity" parameterType="com.fangcang.titanjr.entity.TitanBankcard" >
    update t_tfs_bankcard
    <set >
      <if test="constid != null" >
        constid = #{constid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null" >
        usertype = #{usertype,jdbcType=INTEGER},
      </if>
      <if test="productid != null" >
        productid = #{productid,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=VARCHAR},
      </if>
      <if test="accountnumber != null" >
        accountnumber = #{accountnumber,jdbcType=VARCHAR},
      </if>
      <if test="accounttypeid != null" >
        accounttypeid = #{accounttypeid,jdbcType=VARCHAR},
      </if>
      <if test="bankbranchname != null" >
        bankbranchname = #{bankbranchname,jdbcType=VARCHAR},
      </if>
      <if test="bankheadname != null" >
        bankheadname = #{bankheadname,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="openaccountdate != null" >
        openaccountdate = #{openaccountdate},
      </if>
      <if test="reqsn != null" >
        reqsn = #{reqsn,jdbcType=VARCHAR},
      </if>
      <if test="submittime != null" >
        submittime = #{submittime},
      </if>
      <if test="openaccountdescription != null" >
        openaccountdescription = #{openaccountdescription,jdbcType=VARCHAR},
      </if>
      <if test="accountpurpose != null" >
        accountpurpose = #{accountpurpose,jdbcType=VARCHAR},
      </if>
      <if test="bindid != null" >
        bindid = #{bindid,jdbcType=VARCHAR},
      </if>
      <if test="accountproperty != null" >
        accountproperty = #{accountproperty,jdbcType=VARCHAR},
      </if>
      <if test="relatid != null" >
        relatid = #{relatid,jdbcType=VARCHAR},
      </if>
      <if test="certificatetype != null" >
        certificatetype = #{certificatetype,jdbcType=VARCHAR},
      </if>
      <if test="certificatenumnumber != null" >
        certificatenumnumber = #{certificatenumnumber,jdbcType=VARCHAR},
      </if>
      <if test="accountname != null" >
        accountname = #{accountname,jdbcType=VARCHAR},
      </if>
      <if test="relatedcard != null" >
        relatedcard = #{relatedcard,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="merrem != null" >
        merrem = #{merrem,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="referuserid != null" >
        referuserid = #{referuserid,jdbcType=VARCHAR},
      </if>
      <if test="bankcode != null" >
        bankcode = #{bankcode,jdbcType=VARCHAR},
      </if>
      <if test="bankbranch != null" >
        bankbranch = #{bankbranch,jdbcType=VARCHAR},
      </if>
      <if test="bankprovince != null" >
        bankprovince = #{bankprovince,jdbcType=VARCHAR},
      </if>
      <if test="bankcity != null" >
        bankcity = #{bankcity,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime},
      </if>
    </set>
    where bankcardid = #{bankcardid,jdbcType=INTEGER}
  </update>
  
  <delete id="deleteEntity"  parameterType="com.fangcang.titanjr.entity.TitanBankcard">
  	delete from t_tfs_bankcard
  	<where>
      <if test="userid !=null">
        and userid = #{userid}
      </if>
      <if test="accountproperty !=null">
        and accountproperty = #{accountproperty}
      </if>
      <if test="productid !=null">
        and productid = #{productid}
      </if>
      <if test="accountnumber !=null">
        and accountnumber = #{accountnumber}
      </if>
      <if test="status !=null">
        and status = #{status}
      </if>
    </where>
  </delete>
  
</mapper>