<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangcang.titanjr.dao.TitanRefundDao" >
  <insert id="insertEntity" parameterType="com.fangcang.titanjr.entity.TitanRefund" >
    insert into t_tfs_refund ( orderid, refundOrderno, createtime,refundAmount,orderTime)
    values (#{orderid,jdbcType=VARCHAR}, #{refundOrderno,jdbcType=VARCHAR}, #{createTime},#{refundAmount},#{orderTime})
  </insert>
</mapper>