<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangcang.titanjr.dao.TitanUserDao" >
  <select id="queryList" resultType="com.fangcang.titanjr.entity.TitanUser" parameterType="com.fangcang.titanjr.entity.parameter.TitanUserParam" >
    select 
    *
    from t_tfs_user
    where status!=0
    	<if test="tfsuserid != null"> and tfsuserid = #{tfsuserid}</if>
    	<if test="userid != null"> and userid = #{userid}</if>
    	<if test="orgcode != null"> and orgcode = #{orgcode}</if>
    	<if test="userloginname != null"> and userloginname = #{userloginname}</if>
    	<if test="isadmin != null"> and isadmin = #{isadmin}</if>
    	<if test="isoperator != null"> and isoperator = #{isoperator}</if>
    	<if test="status != null"> and status = #{status}</if>
     
  </select>
  <insert id="insertEntity" parameterType="com.fangcang.titanjr.entity.TitanUser" useGeneratedKeys="true" keyProperty="tfsuserid">
    insert into t_tfs_user (userid, orgcode, 
      username, userloginname, password, 
      department, mobilephone, email, 
      merchantcode, paypassword,paySalt, status, isadmin,
      creator, createtime, modifier, 
      modifytime)
    values (#{userid,jdbcType=VARCHAR}, #{orgcode,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{userloginname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},  
      #{department,jdbcType=VARCHAR}, #{mobilephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{merchantcode,jdbcType=VARCHAR}, #{paypassword,jdbcType=VARCHAR},#{paySalt,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{isadmin,jdbcType=INTEGER}, 
      #{creator,jdbcType=VARCHAR}, #{createtime}, #{modifier,jdbcType=VARCHAR}, 
      #{modifytime})
  </insert>

  <resultMap id="userResultMap" type="com.fangcang.titanjr.dto.bean.UserInfoDTO">
    <result property="tfsUserId" column="tfsuserid" />
    <result property="userId" column="userid" />
    <result property="orgCode" column="orgcode" />
    <result property="userName" column="username" />
    <result property="userLoginName" column="userloginname" />
    <result property="password" column="password" />
    <result property="department" column="department" />
    <result property="mobilePhone" column="mobilephone" />
    <result property="email" column="email" />
    <result property="merchantCode" column="merchantcode" />
    <result property="payPassword" column="paypassword" />
    <result property="paySalt" column="paysalt" />
    <result property="status" column="status" />
    <result property="isAdmin" column="isadmin" />
    <result property="isOperator" column="isoperator" />
    <result property="creator" column="creator" />
    <result property="createTime" column="createtime" />

    <association property="userBindInfoDTO" javaType="com.fangcang.titanjr.dto.bean.UserBindInfoDTO">
      <result property="fcUserId" column="fcuserid" />
      <result property="userName" column="username" />
      <result property="loginName" column="loginname" />
      <result property="fcUserName" column="fcusername" />
      <result property="fcLoginName" column="fcloginname" />
      <result property="merchantCode" column="bmerchant" />
      <result property="isActive" column="isactive" />
    </association>

    <collection property="roleDTOList" ofType="com.fangcang.titanjr.dto.bean.RoleDTO">
      <result property="roleId" column="roleid" />
      <result property="roleCode" column="rolecode" />
      <result property="fcRoleId" column="fcroleid" />
      <result property="roleName" column="rolename" />
      <result property="roleRemark" column="roleremark" />
      <result property="isActive" column="roleactive" />
    </collection>

  </resultMap>
  <!-- 要绑定关系的查询用户，最好重写一个sql -->
  <select id="queryTitanUserIdList" parameterType="com.fangcang.titanjr.dto.request.UserInfoQueryRequest" resultType="java.lang.Integer">
    SELECT
	  u.tfsuserid
    FROM
	    t_tfs_user u
      LEFT JOIN t_tfs_userbindinfo b ON u.tfsuserid = b.tfsuserid 
    where status!=0
    	<if test="bindIsactive != null"> and b.isactive = #{bindIsactive}</if>
    	<if test="status !=null"> and u.status = #{status}</if>
    	<if test="excludeStatus !=null"> and u.status != #{excludeStatus}</if>
		<if test="userId !=null"> and u.userid = #{userId}</if>
		<if test="orgCode !=null"> and u.orgcode = #{orgCode}</if>
        <if test="tfsUserId !=null"> and u.tfsuserid = #{tfsUserId}</if>
      	<if test="userLoginName !=null"> and u.userloginname = #{userLoginName}</if>
      	<if test="bindLoginName !=null"> and b.fcloginname = #{bindLoginName}</if>
      	<if test="bindMerchantCode !=null"> and b.merchantcode = #{bindMerchantCode}</if>
      	<if test="coopType !=null"> and b.cooptype = #{coopType}</if>
        <if test="bindUserId !=null"> and b.fcuserid = #{bindUserId}</if>
      	<if test="userName !=null"> and u.username like concat('%',#{userName},'%')</if>
      	<if test="mobilePhone !=null"> and u.mobilephone = #{mobilePhone}</if>
    GROUP BY u.tfsuserid
  </select>
  <select id="queryTitanUserCollectionList"  parameterType="java.util.Map" resultMap="userResultMap">
    SELECT
	  u.tfsuserid,
	  u.userid,
	  u.orgcode,
	  u.username,
	  u.userloginname,
	  u.`password`,
	  u.department,
	  u.mobilephone,
	  u.email,
	  u.merchantcode,
	  u.paypassword,
	  u.paysalt,
	  u.status,
	  u.isadmin,
	  u.isoperator,
	  u.creator,
	  u.createtime,
	  b.fcuserid,
  	  b.username,
	  b.loginname,
   	  b.fcusername,
	  b.fcloginname,
	  b.merchantcode bmerchant,
	  b.isactive,
	  ru.roleid,
	  r.rolecode,
	  r.rolename,
	  r.roleremark,
	  r.fcroleid,
	  ru.isactive roleactive
    FROM
	    t_tfs_user u
      LEFT JOIN t_tfs_userbindinfo b ON u.tfsuserid = b.tfsuserid
      LEFT JOIN t_tfs_user_role ru ON u.tfsuserid = ru.tfsuserid
      LEFT JOIN t_tfs_role r ON ru.roleid = r.roleid
    <where>
    	u.tfsuserid in
        <foreach collection="tfsUserIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </where>
    order by u.createtime
  </select>
  
  <update id="updateEntity" parameterType="com.fangcang.titanjr.entity.TitanUser" >
    update t_tfs_user
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="orgcode != null" >
        orgcode = #{orgcode,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userloginname != null" >
        userloginname = #{userloginname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null" >
        mobilephone = #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="merchantcode != null" >
        merchantcode = #{merchantcode,jdbcType=VARCHAR},
      </if>
      <if test="paypassword != null" >
        paypassword = #{paypassword,jdbcType=VARCHAR},
      </if>
      <if test="paySalt != null" >
        paysalt = #{paySalt,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isadmin != null" >
        isadmin = #{isadmin,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        modifytime = #{modifytime},
      </if>
    </set>
    where tfsuserid = #{tfsuserid,jdbcType=INTEGER}
  </update>
  <select id="selectTitanUser" parameterType="java.lang.Integer" resultType="com.fangcang.titanjr.entity.TitanUser">
      select tfsuserid, userid, orgcode, username, userloginname, password, department, mobilephone, email, 
      merchantcode, paypassword,paySalt, status, isadmin,creator, createtime, modifier, 
      modifytime from t_tfs_user where tfsuserid =#{tfsuserid}
      
  </select>
</mapper>