<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangcang.titanjr.dao.TitanRateChangeLogDao" >
  <select id="queryList" resultType="com.fangcang.titanjr.entity.TitanRateChangeLog" parameterType="com.fangcang.titanjr.entity.parameter.TitanRateChangeLogParam" >
    select 
    *
    from t_tfs_ratechangelog
  </select>
  <insert id="insertEntity" parameterType="com.fangcang.titanjr.entity.TitanRateChangeLog" >
    insert into t_tfs_ratechangelog (rateconfigid, beforerate, afterrate, 
      modifytime, modifier)
    values (#{rateconfigid,jdbcType=INTEGER}, #{beforerate}, #{afterrate}, 
      #{modifytime}, #{modifier,jdbcType=VARCHAR})
  </insert>
  <update id="updateEntity" parameterType="com.fangcang.titanjr.entity.TitanRateChangeLog" >
    update t_tfs_ratechangelog
    <set >
      <if test="cashieritemid != null" >
        cashieritemid = #{cashieritemid,jdbcType=INTEGER},
      </if>
      <if test="bustype != null" >
        bustype = #{bustype,jdbcType=INTEGER},
      </if>
      <if test="ratetype != null" >
        ratetype = #{ratetype,jdbcType=INTEGER},
      </if>
      <if test="rsrate != null" >
        rsrate = #{rsrate},
      </if>
      <if test="standrate != null" >
        standrate = #{standrate},
      </if>
      <if test="executionrate != null" >
        executionrate = #{executionrate},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime},
      </if>
    </set>
    where rateconfigid = #{rateconfigid,jdbcType=INTEGER}
  </update>
</mapper>