<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangcang.titanjr.dao.TitanAccountDao" >
  
   <select id="queryList" resultType="com.fangcang.titanjr.entity.TitanAccount" parameterType="com.fangcang.titanjr.entity.parameter.TitanAccountParam" >
    select 
    *
    from t_tfs_account
    <where>
      	<if test="accountid!=null and accountid>0">  and accountid =  #{accountid}</if>
      	<if test="finaccountid!=null and finaccountid>0"> and finaccountid =  #{finaccountid}</if>
      	<if test="userid!=null">  and userid =  #{userid}</if>
      	<if test="allownopwdpay !=null"> and allownopwdpay=#{allownopwdpay}</if>
     </where>
  </select>
  <insert id="insertEntity" parameterType="com.fangcang.titanjr.entity.TitanAccount" >
    insert into t_tfs_account (accountid, finaccountid, userid, 
      accountcode, accountname, currency, 
      allownopwdpay, nopwdpaylimit, creditamount, 
      settleamount, forzenamount, balanceoverlimit, 
      usableamount, totalamount, status, 
      creator, createtime, modifier, 
      modifytime)
    values (#{accountid,jdbcType=INTEGER}, #{finaccountid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, 
      #{accountcode,jdbcType=VARCHAR}, #{accountname,jdbcType=VARCHAR}, #{currency,jdbcType=INTEGER}, 
      #{allownopwdpay,jdbcType=INTEGER}, #{nopwdpaylimit,jdbcType=DOUBLE}, #{creditamount,jdbcType=DOUBLE}, 
      #{settleamount,jdbcType=DOUBLE}, #{forzenamount,jdbcType=DOUBLE}, #{balanceoverlimit,jdbcType=DOUBLE}, 
      #{usableamount,jdbcType=DOUBLE}, #{totalamount,jdbcType=DOUBLE}, #{status,jdbcType=INTEGER}, 
      #{creator,jdbcType=VARCHAR}, #{createtime}, #{modifier,jdbcType=VARCHAR}, 
      #{modifytime})
  </insert>
  <update id="updateEntity" parameterType="com.fangcang.titanjr.entity.TitanAccount" >
    update t_tfs_account
    <set >
      <if test="finaccountid != null" >
        finaccountid = #{finaccountid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="accountcode != null" >
        accountcode = #{accountcode,jdbcType=VARCHAR},
      </if>
      <if test="accountname != null" >
        accountname = #{accountname,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=INTEGER},
      </if>
      <if test="allownopwdpay != null" >
        allownopwdpay = #{allownopwdpay,jdbcType=INTEGER},
      </if>
      <if test="nopwdpaylimit != null" >
        nopwdpaylimit = #{nopwdpaylimit,jdbcType=DOUBLE},
      </if>
      <if test="creditamount != null" >
        creditamount = #{creditamount,jdbcType=DOUBLE},
      </if>
      <if test="settleamount != null" >
        settleamount = #{settleamount,jdbcType=DOUBLE},
      </if>
      <if test="forzenamount != null" >
        forzenamount = #{forzenamount,jdbcType=DOUBLE},
      </if>
      <if test="balanceoverlimit != null" >
        balanceoverlimit = #{balanceoverlimit,jdbcType=DOUBLE},
      </if>
      <if test="usableamount != null" >
        usableamount = #{usableamount,jdbcType=DOUBLE},
      </if>
      <if test="totalamount != null" >
        totalamount = #{totalamount,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        modifytime = #{modifytime},
      </if>
    </set>
    <where>
      <if test="accountid !=null">
        and accountid = #{accountid,jdbcType=INTEGER}
      </if>
       <if test="userid !=null">
        and userid = #{userid}
      </if>
       <if test="finaccountid !=null">
        and finaccountid = #{finaccountid}
      </if>
       <if test="accountcode !=null">
        and accountcode = #{accountcode}
      </if>
    </where>
  </update>
  
</mapper>