<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
						http://www.springframework.org/schema/tx
    					http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
						http://www.springframework.org/schema/aop
	       				http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
	       				http://www.springframework.org/schema/context
           				http://www.springframework.org/schema/context/spring-context-4.2.xsd
	       				http://www.springframework.org/schema/mvc
           				http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
           				http://code.alibabatech.com/schema/dubbo
           				http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<bean id="initManagerService" class="com.titanjr.fop.service.impl.InitManagerServiceImpl" init-method="init" /> 

    <dubbo:application name="titan-fop_consumer" />
	<!--  group="production" -->
	<dubbo:consumer check="false"/>
	<dubbo:registry protocol="zookeeper" address="${zookeeper.address}" timeout="10000" />
	<dubbo:monitor protocol="registry" />

    <!-- retries:重试次数 -->
    <dubbo:reference id="titanFinancialAccountService" interface="com.fangcang.titanjr.service.TitanFinancialAccountService"
                     retries="0" timeout="800000"/>
    <dubbo:reference id="titanOrderService" interface="com.fangcang.titanjr.service.TitanOrderService"
                     retries="0" timeout="800000"/>
    <dubbo:reference id="titanSysconfigService" interface="com.fangcang.titanjr.service.TitanSysconfigService"
                     retries="0" timeout="800000"/>

    <bean class="com.titanjr.fop.util.InvokeLogRecorder" id="invokeLogRecorder" >
        <property name="logDataDao" ref="logDataDao"/>
        <property name="logRecorderExecutor" ref="logRecorderExecutor"/>
    </bean>
    <!--避免aop中写日志的速度慢，交给线程处理-->
    <bean id="logRecorderExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="20" />
        <property name="maxPoolSize" value="30" />
        <property name="queueCapacity" value="500" />
    </bean>

    <aop:config>
        <aop:aspect id="logRecorderAspect" ref="invokeLogRecorder">
            <aop:pointcut id="logRecorderTarget"
                          expression="execution(* com.titanjr.fop.service.impl.*ServiceImpl.*(..)) " />
            <aop:around method="aroundInvokeExecution" pointcut-ref="logRecorderTarget" />
        </aop:aspect>
    </aop:config>

    <bean id="logDataDao" class="com.fangcang.redis.dao.impl.LogDataDaoImpl"/>

</beans>
