<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-autowire="byName"
>

    <!-- 执行结果反馈给JobClient的回调类 -->
    <!-- <bean id="jobCompletedHandler" class="com.fangcang.lts.demo.handler.DemoJobCompletedHandler"/> -->

    <!-- 任务提交类 -->
    <bean id="jobClient" class="com.fangcang.lts.common.custom.FangCangJobClient" init-method="init">
        <property name="serverName" value="fangcang-lts-titanjr"/>
       <!--  <property name="jobCompletedHandler" ref="jobCompletedHandler"/> -->
    </bean>

    <!-- 任务执行类 -->
    <bean id="taskTrakcer" class="com.fangcang.lts.common.custom.FangCangTaskTracker" init-method="init">
        <property name="serverName" value="fangcang-lts-titanjr"/>
    </bean>

</beans>